Repository apache/shardingsphere-on-cloud, pull requests merged in 2022-10, with the labels that each got.

#68 fix(ci): fix mysql action in proxy and operator it workflow
  .github/workflows/operator-integration.yml
  .github/workflows/proxy-integration.yml
Labels: in: ci, type: fixed

#69 chore(reconcile): add unit test for IsRunning and CountReadyPods
  shardingsphere-operator/go.mod
  shardingsphere-operator/pkg/reconcile/reconcile_test.go
  shardingsphere-operator/pkg/reconcile/status.go
Labels: type: bug, type: fixed

#70 chore(reconcile): add unit test for ConstructCascadingDeployment
  shardingsphere-operator/pkg/reconcile/reconcile_test.go
  shardingsphere-operator/pkg/reconcile/resource.go
Labels: type: bug, type: fixed

#83 chore(ci): add unit test workflow in Github Action
  .github/workflows/unit-test.yml
Labels: type: enhancement, in: ci

#84 fix(test): fix unit test for shardingsphere-operator,remove webhook a…
  shardingsphere-operator/api/v1alpha1/webhook_suite_test.go
  shardingsphere-operator/pkg/controllers/suite_test.go
Labels: type: bug, status: working

#87 feat(codecov): add codecov robot for operator
  .github/workflows/unit-test.yml
Labels: type: enhancement, feature: operator, in: feature, status: working

#89 chore(config): fix overwrite config in operator code
  charts/shardingsphere-operator/crds/shardingsphere.apache.org_shardingsphereproxyserverconfigs.yaml
  shardingsphere-operator/api/v1alpha1/serverconfig.go
Labels: feature: operator, in: feature

#91 refactor(doc): rename shardingsphere-cluster to shardingsphere-operator-clutser
  .github/workflows/operator-integration.yml
  .gitignore
  README.md
  charts/shardingsphere-operator-cluster/.helmignore
  charts/shardingsphere-operator-cluster/Chart.yaml
  charts/shardingsphere-operator-cluster/templates/shardingsphere_v1alpha1_shardingsphereproxy.yaml
  charts/shardingsphere-operator-cluster/templates/shardingsphere_v1alpha1_shardingsphereproxyserverconfig.yaml
  charts/shardingsphere-operator-cluster/values.yaml
  doc/shardingsphere-operator.md
Labels: feature: helm, in: feature

#92 chore(doc): add a brief doc for cloudformation
  doc/images/cfn-1.png
  doc/images/cfn-10.jpeg
  doc/images/cfn-11.png
  doc/images/cfn-12.png
  doc/images/cfn-13.jpeg
  doc/images/cfn-3.png
  doc/images/cfn-4.png
  doc/images/cfn-5.png
  doc/images/cfn-6.png
  doc/images/cfn-7.png
  doc/images/cfn-8.png
  doc/images/cfn-9.png
  doc/images/cnf-2.png
  doc/startup-shardingsphere-proxy-with-cloudformation.md
Labels: type: enhancement, type: deploy, in: doc

#94 Update version and appVersion in charts
  charts/shardingsphere-operator-cluster/Chart.yaml
  charts/shardingsphere-proxy/Chart.yaml
Labels: type: release

#95 Update chart name with apache prefix in Chart.yaml
  charts/shardingsphere-operator-cluster/Chart.yaml
  charts/shardingsphere-operator/Chart.yaml
Labels: type: release

#98 Update chart name with charts
  charts/shardingsphere-operator-cluster/Chart.yaml
  charts/shardingsphere-operator/Chart.yaml
  charts/shardingsphere-proxy/Chart.yaml
Labels: type: release

#96 chore: add LICENSE and NOTICE file to repo and charts
  NOTICE
  charts/shardingsphere-operator-cluster/LICENSE
  charts/shardingsphere-operator-cluster/NOTICE
  charts/shardingsphere-operator/LICENSE
  charts/shardingsphere-operator/NOTICE
  charts/shardingsphere-proxy/NOTICE
Labels: in: license, feature: helm

#100 feat(gitpages): add git pages in asf.yaml
  .asf.yaml
Labels: type: enhancement, in: feature

#101 chore(charts): fix charts name; fix docker images build ci,image name;
  .github/workflows/build.yaml
  .gitignore
  .licenserc.yaml
  charts/apache-shardingsphere-operator-charts/.helmignore
  charts/apache-shardingsphere-operator-charts/Chart.yaml
  charts/apache-shardingsphere-operator-charts/LICENSE
  charts/apache-shardingsphere-operator-charts/NOTICE
  charts/apache-shardingsphere-operator-charts/crds/shardingsphere.apache.org_shardingsphereproxies.yaml
  charts/apache-shardingsphere-operator-charts/crds/shardingsphere.apache.org_shardingsphereproxyserverconfigs.yaml
  charts/apache-shardingsphere-operator-charts/templates/deployment.yaml
  charts/apache-shardingsphere-operator-charts/templates/rbac.yaml
  charts/apache-shardingsphere-operator-charts/templates/webhook/admission-webhook-apiservice.yaml
  charts/apache-shardingsphere-operator-charts/templates/webhook/admission-webhook-configuration.yaml
  charts/apache-shardingsphere-operator-charts/templates/webhook/admission-webhook-service.yaml
  charts/apache-shardingsphere-operator-charts/values.yaml
  charts/apache-shardingsphere-operator-cluster-charts/.helmignore
  charts/apache-shardingsphere-operator-cluster-charts/Chart.yaml
  charts/apache-shardingsphere-operator-cluster-charts/LICENSE
  charts/apache-shardingsphere-operator-cluster-charts/NOTICE
  charts/apache-shardingsphere-operator-cluster-charts/templates/shardingsphere_v1alpha1_shardingsphereproxy.yaml
  charts/apache-shardingsphere-operator-cluster-charts/templates/shardingsphere_v1alpha1_shardingsphereproxyserverconfig.yaml
  charts/apache-shardingsphere-operator-cluster-charts/values.yaml
  charts/apache-shardingsphere-proxy-charts/Chart.yaml
  charts/apache-shardingsphere-proxy-charts/LICENSE
  charts/apache-shardingsphere-proxy-charts/NOTICE
  charts/apache-shardingsphere-proxy-charts/charts/governance/Chart.yaml
  charts/apache-shardingsphere-proxy-charts/charts/governance/values.yaml
  charts/apache-shardingsphere-proxy-charts/templates/configmap.yaml
  charts/apache-shardingsphere-proxy-charts/templates/deployment.yaml
  charts/apache-shardingsphere-proxy-charts/templates/service.yaml
  charts/apache-shardingsphere-proxy-charts/values.yaml
Labels: in: ci, feature: helm, in: feature, type: release

#102 feat(charts): add index.yaml
  index.yaml
Labels: feature: helm

#105 fix(ci): fix 0.1.0 tag name
  .github/workflows/build.yaml
  charts/apache-shardingsphere-operator-charts/values.yaml
  charts/apache-shardingsphere-proxy-charts/Chart.yaml
Labels: in: ci, feature: helm, type: release

#106 chore(index): update index for release 0.1.0
  index.yaml
Labels: feature: helm, in: feature, type: release

#108 Merge 0.1.0 release branch to main
  RELEASE-NOTES.md
Labels: type: release
