Repository apache/shardingsphere-on-cloud, pull requests merged in 2022-11, with the labels that each got.

#112 feta(operator,hpa): add support for Custom Metric for HPA.
  charts/apache-shardingsphere-operator-charts/crds/shardingsphere.apache.org_shardingsphereproxies.yaml
  charts/apache-shardingsphere-operator-charts/crds/shardingsphere.apache.org_shardingsphereproxyserverconfigs.yaml
  shardingsphere-operator/api/v1alpha1/proxy_types.go
  shardingsphere-operator/api/v1alpha1/zz_generated.deepcopy.go
  shardingsphere-operator/pkg/reconcile/reconcile_test.go
  shardingsphere-operator/pkg/reconcile/resource.go
Labels: type: enhancement

#111 feat(cloudformation): add support for multi-az mode for cloudformation.
  cloudformation/multi-az/README.md
  cloudformation/multi-az/cf.json
  cloudformation/multi-az/cf.rb
  cloudformation/multi-az/shardingsphere-cloud-init.yml
  cloudformation/multi-az/zookeeper-cloud-init.yml
  cloudformation/single-az/apache-shardingsphere-5.2.0.json
Labels: type: enhancement, cloudformation

#114 feat(terraform): use terraform to create shardingsphere cluster
  terraform/README.md
  terraform/arch/arch.jpg
  terraform/main.tf
  terraform/outputs.tf
  terraform/shardingsphere/cloud-init.yml
  terraform/shardingsphere/main.tf
  terraform/shardingsphere/outputs.tf
  terraform/shardingsphere/variables.tf
  terraform/zk/cloud-init.yml
  terraform/zk/main.tf
  terraform/zk/outputs.tf
  terraform/zk/variables.tf
Labels: type: enhancement, type: deploy, cloudformation

#117 fix(build): fix docker build failed
  shardingsphere-operator/build/Dockerfile
Labels: type: enhancement

#118 fix: fix docs with example diagram and commands
  doc/images/cfn-2.png
  doc/shardingsphere-helm-charts.md
  doc/shardingsphere-operator.md
Labels: in: doc

#122 fix(ci): fix workflows triggers and directories
  .github/workflows/build.yaml
  .github/workflows/operator-integration.yml
  .github/workflows/proxy-integration.yml
  .github/workflows/unit-test.yml
Labels: in: ci, type: fixed

#123 chore: add unit test for reconcile ConstructCascadingService
  shardingsphere-operator/pkg/reconcile/reconcile_test.go
  shardingsphere-operator/pkg/reconcile/resource.go
Labels: type: enhancement, test

#124 chore(doc): fix links in docs and add README for operator
  README.md
  shardingsphere-operator/README.md
Labels: type: enhancement, in: doc
