Repository apache/shardingsphere-on-cloud, pull requests merged in 2022-07, with the labels that each got.

#14 feat(helm): add helm to install shardingsphere-operator && shardingsphere-proxy cluster
  .gitignore
  CODE_OF_CONDUCT.md
  README.md
  charts/shardingsphere-cluster/.helmignore
  charts/shardingsphere-cluster/Chart.yaml
  charts/shardingsphere-cluster/templates/shardingsphere_v1alpha1_proxy.yaml
  charts/shardingsphere-cluster/templates/shardingsphere_v1alpha1_proxyconfig.yaml
  charts/shardingsphere-cluster/values.yaml
  charts/shardingsphere-operator/.helmignore
  charts/shardingsphere-operator/Chart.yaml
  charts/shardingsphere-operator/crds/shardingsphere.sphere-ex.com_proxies.yaml
  charts/shardingsphere-operator/crds/shardingsphere.sphere-ex.com_proxyconfigs.yaml
  charts/shardingsphere-operator/templates/deployment.yaml
  charts/shardingsphere-operator/templates/rbac.yaml
  charts/shardingsphere-operator/templates/webhook/admission-webhook-apiservice.yaml
  charts/shardingsphere-operator/templates/webhook/admission-webhook-configuration.yaml
  charts/shardingsphere-operator/templates/webhook/admission-webhook-service.yaml
  charts/shardingsphere-operator/values.yaml
  doc/quickStart.md
  shardingsphere-operator/api/v1alpha1/serverconfig.go
  shardingsphere-operator/build/Dockerfile
  shardingsphere-operator/charts/shardingsphere-operator/Chart.yaml
  shardingsphere-operator/charts/shardingsphere-operator/templates/webhook/admission-webhook-apiservice.yaml
  shardingsphere-operator/charts/shardingsphere-operator/templates/webhook/admission-webhook-configuration.yaml
  shardingsphere-operator/charts/shardingsphere-operator/templates/webhook/admission-webhook-service.yaml
  shardingsphere-operator/charts/shardingsphere-operator/values.yaml
  shardingsphere-operator/deploy/samples/shardingsphere_v1alpha1_proxy.yaml
  shardingsphere-operator/deploy/samples/shardingsphere_v1alpha1_proxyconfig.yaml
Labels: deploy

#15 feat(ci): add image build && check license ci
  .github/workflows/build.yaml
  .github/workflows/check-license.yml
  .licenserc.yaml
  charts/shardingsphere-operator/crds/shardingsphere.sphere-ex.com_proxies.yaml
  charts/shardingsphere-operator/crds/shardingsphere.sphere-ex.com_proxyconfigs.yaml
  shardingsphere-operator/build/Dockerfile
Labels: ci

#17 feat(ci): add a new ci to auto release helm
  .github/workflows/helm-release.yaml
Labels: ci

#16 fix(license): update license and copyright
  .github/workflows/build.yaml
  .github/workflows/check-license.yml
  .licenserc.yaml
  charts/shardingsphere-cluster/Chart.yaml
  charts/shardingsphere-cluster/templates/shardingsphere_v1alpha1_proxy.yaml
  charts/shardingsphere-cluster/templates/shardingsphere_v1alpha1_proxyconfig.yaml
  charts/shardingsphere-cluster/values.yaml
  charts/shardingsphere-operator/Chart.yaml
  charts/shardingsphere-operator/crds/shardingsphere.sphere-ex.com_proxies.yaml
  charts/shardingsphere-operator/crds/shardingsphere.sphere-ex.com_proxyconfigs.yaml
  charts/shardingsphere-operator/templates/deployment.yaml
  charts/shardingsphere-operator/templates/rbac.yaml
  charts/shardingsphere-operator/templates/webhook/admission-webhook-apiservice.yaml
  charts/shardingsphere-operator/templates/webhook/admission-webhook-configuration.yaml
  charts/shardingsphere-operator/templates/webhook/admission-webhook-service.yaml
  charts/shardingsphere-operator/values.yaml
  shardingsphere-operator/api/v1alpha1/groupversion_info.go
  shardingsphere-operator/api/v1alpha1/proxy_status.go
  shardingsphere-operator/api/v1alpha1/proxy_types.go
  shardingsphere-operator/api/v1alpha1/proxy_webhook.go
  shardingsphere-operator/api/v1alpha1/proxyconfig_types.go
  shardingsphere-operator/api/v1alpha1/serverconfig.go
  shardingsphere-operator/api/v1alpha1/webhook_suite_test.go
  shardingsphere-operator/main.go
  shardingsphere-operator/pkg/controllers/proxy_controller.go
  shardingsphere-operator/pkg/controllers/proxyconfig_controller.go
  shardingsphere-operator/pkg/controllers/suite_test.go
  shardingsphere-operator/pkg/reconcile/resource.go
  shardingsphere-operator/pkg/reconcile/status.go
  shardingsphere-operator/pkg/webhook/webhook.go
Labels: documentation

#18 feat(doc): add CONTRIBUTING.md
  .github/workflows/helm-release.yaml
  CONTRIBUTING.md
Labels: documentation

#19 feat(HPA): Added ability to automatically create or delete HPA based on configuration
  charts/shardingsphere-cluster/templates/shardingsphere_v1alpha1_proxy.yaml
  charts/shardingsphere-cluster/values.yaml
  charts/shardingsphere-operator/crds/shardingsphere.sphere-ex.com_proxies.yaml
  charts/shardingsphere-operator/crds/shardingsphere.sphere-ex.com_proxyconfigs.yaml
  charts/shardingsphere-operator/templates/deployment.yaml
  charts/shardingsphere-operator/values.yaml
  shardingsphere-operator/api/v1alpha1/proxy_status.go
  shardingsphere-operator/api/v1alpha1/proxy_types.go
  shardingsphere-operator/api/v1alpha1/proxy_webhook.go
  shardingsphere-operator/pkg/controllers/proxy_controller.go
  shardingsphere-operator/pkg/reconcile/resource.go
Labels: enhancement

#20 feat(doc): add readme ,quick start doc for fist release
  README.md
  charts/shardingsphere-cluster/values.yaml
  charts/shardingsphere-operator/values.yaml
  doc/deploy.md
  doc/images/ss-operatorIA.png
  doc/images/ssvx.png
  doc/quickStart.md
Labels: documentation

#21 doc: update README
  README.md
Labels: documentation

#22 doc: fix links
  README.md
Labels: documentation

#23 refactor(crd): rename crd
  charts/shardingsphere-cluster/templates/shardingsphere_v1alpha1_shardingsphereproxy.yaml
  charts/shardingsphere-cluster/templates/shardingsphere_v1alpha1_shardingsphereproxyserverconfig.yaml
  charts/shardingsphere-operator/crds/shardingsphere.sphere-ex.com_shardingsphereproxies.yaml
  charts/shardingsphere-operator/crds/shardingsphere.sphere-ex.com_shardingsphereproxyserverconfigs.yaml
  charts/shardingsphere-operator/templates/rbac.yaml
  charts/shardingsphere-operator/templates/webhook/admission-webhook-configuration.yaml
  charts/shardingsphere-operator/values.yaml
  doc/deploy.md
  doc/images/ss-operatorIA.png
  shardingsphere-operator/PROJECT
  shardingsphere-operator/api/v1alpha1/proxy_status.go
  shardingsphere-operator/api/v1alpha1/proxy_types.go
  shardingsphere-operator/api/v1alpha1/proxy_webhook.go
  shardingsphere-operator/api/v1alpha1/proxyconfig_types.go
  shardingsphere-operator/api/v1alpha1/serverconfig.go
  shardingsphere-operator/api/v1alpha1/webhook_suite_test.go
  shardingsphere-operator/api/v1alpha1/zz_generated.deepcopy.go
  shardingsphere-operator/main.go
  shardingsphere-operator/pkg/controllers/proxy_controller.go
  shardingsphere-operator/pkg/controllers/proxyconfig_controller.go
  shardingsphere-operator/pkg/reconcile/resource.go
Labels: refactor

#25 feat(helm): release helm
  index.yaml
Labels: deploy

#26 fix(helm): fix start command for operator
  .github/workflows/build.yaml
  charts/shardingsphere-operator/templates/deployment.yaml
  doc/deploy.md
Labels: bug
