Repository apache/shardingsphere-on-cloud, pull requests merged in 2022-12, with the labels that each got.

#128 chore: update README structure
  README.md
  charts/README.md
  shardingsphere-operator/README.md
Labels: type: enhancement, in: doc

#132 chore(helm,doc): update doc,helm for new version
  charts/apache-shardingsphere-operator-charts/values.yaml
  charts/apache-shardingsphere-operator-cluster-charts/values.yaml
  charts/apache-shardingsphere-proxy-charts/values.yaml
  docs/content/operation-guide/helm/_index.cn.md
  docs/content/operation-guide/helm/_index.en.md
  docs/content/operation-guide/operator/_index.cn.md
  docs/content/operation-guide/operator/_index.en.md
  docs/shardingsphere-helm-charts.md
  docs/shardingsphere-operator.md
Labels: feature: helm, in: doc

#136 Update _index.en.md
  docs/content/operation-guide/using-terraform-to-deploy-multi-az/_index.en.md
Labels: in: doc

#139 chore: add unit test for UpdateDeloyment and addInitContainer
  shardingsphere-operator/pkg/reconcile/reconcile_test.go
  shardingsphere-operator/pkg/reconcile/resource.go
Labels: test

#140 Update _index.en.md
  docs/content/operation-guide/helm/_index.en.md
Labels: in: doc

#142 Update _index.en.md
  docs/content/overview/_index.en.md
Labels: in: doc

#143 The first version
  docs/content/best-practices/_index.en.md
  docs/content/operation-guide/cloudformation-multi-az/_index.en.md
  docs/content/operation-guide/using-terraform-to-deploy-multi-az/_index.en.md
Labels: in: doc

#144 chore(index): update index.yaml for 0.1.1
  index.yaml
Labels: feature: helm

#145 feat(cloudformation): update parameter and cloud-init for cloudformation
  cloudformation/multi-az/cf.rb
  cloudformation/multi-az/shardingsphere-cloud-init.yml
Labels: type: deploy, cloudformation

#146 0.1.1 release
  RELEASE-NOTES.md
  charts/apache-shardingsphere-operator-charts/Chart.yaml
  charts/apache-shardingsphere-operator-cluster-charts/Chart.yaml
  charts/apache-shardingsphere-operator-cluster-charts/values.yaml
  charts/apache-shardingsphere-proxy-charts/Chart.yaml
  charts/apache-shardingsphere-proxy-charts/values.yaml
Labels: type: release

#147 feat(cloudformation): Support using cloudwatch collect `ShardingSphereProxy` logs
  .licenserc.yaml
  cloudformation/multi-az/cf.rb
  cloudformation/multi-az/cfn-hup.conf
  cloudformation/multi-az/cfn-hup.service
  cloudformation/multi-az/cloudwatch-agent-auto-reloader.conf
  cloudformation/multi-az/cloudwatch-agent.json
  cloudformation/multi-az/shardingsphere-cloud-init.yml
Labels: in: feature, cloudformation

#148 refactor: refactor reconcile and resources
  shardingsphere-operator/api/v1alpha1/groupversion_info.go
  shardingsphere-operator/api/v1alpha1/proxy_status.go
  shardingsphere-operator/pkg/controllers/proxy_controller.go
  shardingsphere-operator/pkg/reconcile/coverage.txt
  shardingsphere-operator/pkg/reconcile/deployment.go
  shardingsphere-operator/pkg/reconcile/hpa.go
  shardingsphere-operator/pkg/reconcile/reconcile_test.go
  shardingsphere-operator/pkg/reconcile/resource.go
  shardingsphere-operator/pkg/reconcile/service.go
Labels: type: bug, type: refactor

#149 feat(charts): merge operator-charts and operator-cluster-charts.
  charts/apache-shardingsphere-cluster-operator-charts/.helmignore
  charts/apache-shardingsphere-cluster-operator-charts/Chart.yaml
  charts/apache-shardingsphere-cluster-operator-charts/LICENSE
  charts/apache-shardingsphere-cluster-operator-charts/NOTICE
  charts/apache-shardingsphere-cluster-operator-charts/README.md
  charts/apache-shardingsphere-cluster-operator-charts/crds/shardingsphere.apache.org_shardingsphereproxies.yaml
  charts/apache-shardingsphere-cluster-operator-charts/crds/shardingsphere.apache.org_shardingsphereproxyserverconfigs.yaml
  charts/apache-shardingsphere-cluster-operator-charts/templates/_helpers.tpl
  charts/apache-shardingsphere-cluster-operator-charts/templates/operator_deployment.yaml
  charts/apache-shardingsphere-cluster-operator-charts/templates/operator_rbac.yaml
  charts/apache-shardingsphere-cluster-operator-charts/templates/shardingsphere_v1alpha1_shardingsphereproxy.yaml
  charts/apache-shardingsphere-cluster-operator-charts/templates/shardingsphere_v1alpha1_shardingsphereproxyserverconfig.yaml
  charts/apache-shardingsphere-cluster-operator-charts/values.yaml
  charts/apache-shardingsphere-operator-cluster-charts/values.yaml
  shardingsphere-operator/api/v1alpha1/proxy_types.go
  shardingsphere-operator/api/v1alpha1/proxy_webhook.go
  shardingsphere-operator/api/v1alpha1/zz_generated.deepcopy.go
  shardingsphere-operator/main.go
  shardingsphere-operator/pkg/reconcile/deployment.go
  shardingsphere-operator/pkg/reconcile/reconcile_test.go
Labels: type: enhancement, feature: helm

#150 refactor: refactor reconcile for different workloads
  .gitignore
  shardingsphere-operator/pkg/controllers/proxy_controller.go
  shardingsphere-operator/pkg/reconcile/deployment.go
  shardingsphere-operator/pkg/reconcile/reconcile_test.go
  shardingsphere-operator/pkg/reconcile/service.go
Labels: type: bug, type: refactor, feature: operator

#152 docs: update readme and contributing
  CONTRIBUTING.md
  README.md
  shardingsphere-operator/go.mod
Labels: in: doc, type: fixed

#153 refactor: separate manager from cmd main
  shardingsphere-operator/Makefile
  shardingsphere-operator/cmd/shardingsphere-operator/main.go
  shardingsphere-operator/cmd/shardingsphere-operator/manager/manager.go
Labels: type: refactor, feature: operator

#155 chore(terraform,cloudformation): unified shardingsphere proxy naming
  cloudformation/multi-az/cloudwatch-agent.json
  cloudformation/multi-az/shardingsphere-cloud-init.yml
  terraform/amazon/shardingsphere/cloud-init.yml
  terraform/huawei/cloud-init.yml
Labels: type: refactor, cloudformation, terraform

#156 feat(terraform): Support multi-version configuration of shardingsphere proxy in aws
  terraform/amazon/shardingsphere/cloud-init.yml
  terraform/amazon/shardingsphere/main.tf
Labels: type: enhancement, terraform

#157 Feat(operator): add isLeader metric for operator
  shardingsphere-operator/build/Dockerfile
  shardingsphere-operator/cmd/shardingsphere-operator/main.go
  shardingsphere-operator/cmd/shardingsphere-operator/manager/manager.go
  shardingsphere-operator/pkg/metrics/metrics.go
Labels: type: enhancement, feature: operator, in: feature

#161 chore(docs): update docs
  charts/README.md
  charts/apache-shardingsphere-cluster-operator-charts/README.md
  docs/content/operation-guide/operator/_index.cn.md
  docs/content/operation-guide/operator/_index.en.md
  docs/content/operation-guide/using-cloudformation-to-start-proxy/_index.cn.md
  docs/content/operation-guide/using-terraform-to-deploy-multi-az-on-aws/_index.cn.md
  docs/content/operation-guide/using-terraform-to-deploy-multi-az-on-aws/_index.en.md
  docs/content/operation-guide/using-terraform-to-deploy-multi-az-on-huaweicloud/_index.cn.md
  docs/content/operation-guide/using-terraform-to-deploy-multi-az-on-huaweicloud/_index.en.md
  docs/content/operation-guide/using-terraform-to-deploy-multi-az/_index.en.md
  docs/static/img/overview/terraform.png
  terraform/amazon/arch/arch.jpg
Labels: type: deploy, feature: helm

#162 refactor(chart): renaming of apache-shardingsphere-operator-cluster-charts
  charts/README.md
  charts/apache-shardingsphere-cluster-operator-charts/.helmignore
  charts/apache-shardingsphere-cluster-operator-charts/LICENSE
  charts/apache-shardingsphere-cluster-operator-charts/NOTICE
  charts/apache-shardingsphere-cluster-operator-charts/README.md
  charts/apache-shardingsphere-cluster-operator-charts/crds/shardingsphere.apache.org_shardingsphereproxies.yaml
  charts/apache-shardingsphere-cluster-operator-charts/crds/shardingsphere.apache.org_shardingsphereproxyserverconfigs.yaml
  charts/apache-shardingsphere-cluster-operator-charts/templates/_helpers.tpl
  charts/apache-shardingsphere-cluster-operator-charts/values.yaml
  charts/apache-shardingsphere-operator-charts/Chart.yaml
  charts/apache-shardingsphere-operator-charts/README.md
  charts/apache-shardingsphere-operator-charts/templates/_helpers.tpl
  charts/apache-shardingsphere-operator-charts/templates/deployment.yaml
  charts/apache-shardingsphere-operator-charts/templates/operator_deployment.yaml
  charts/apache-shardingsphere-operator-charts/templates/operator_rbac.yaml
  charts/apache-shardingsphere-operator-charts/templates/rbac.yaml
  charts/apache-shardingsphere-operator-charts/templates/shardingsphere_v1alpha1_shardingsphereproxy.yaml
  charts/apache-shardingsphere-operator-charts/templates/shardingsphere_v1alpha1_shardingsphereproxyserverconfig.yaml
  charts/apache-shardingsphere-operator-charts/templates/webhook/admission-webhook-apiservice.yaml
  charts/apache-shardingsphere-operator-charts/templates/webhook/admission-webhook-configuration.yaml
  charts/apache-shardingsphere-operator-charts/templates/webhook/admission-webhook-service.yaml
  charts/apache-shardingsphere-operator-charts/values.yaml
  docs/content/operation-guide/operator/_index.cn.md
  docs/content/operation-guide/operator/_index.en.md
  docs/static/img/overview/terraform.png
  terraform/amazon/arch/arch.jpg
Labels: type: enhancement, feature: operator

#163 chore(docs): update terraform modules structure for aws, and update docs
  terraform/amazon/README.md
  terraform/amazon/main.tf
  terraform/amazon/modules/shardingsphere/README.md
  terraform/amazon/modules/shardingsphere/cloud-init.yml
  terraform/amazon/modules/shardingsphere/cloudwatch-agent.json
  terraform/amazon/modules/shardingsphere/main.tf
  terraform/amazon/modules/shardingsphere/outputs.tf
  terraform/amazon/modules/shardingsphere/variables.tf
  terraform/amazon/modules/zk/README.md
  terraform/amazon/modules/zk/cloud-init.yml
  terraform/amazon/modules/zk/main.tf
  terraform/amazon/modules/zk/outputs.tf
  terraform/amazon/modules/zk/variables.tf
Labels: type: enhancement
