Repository apache/shardingsphere-on-cloud, pull requests merged in 2022-08, with the labels that each got.

#28 chore(docs): update readme according to ShardingSphere community info…
  README.md
Labels: documentation

#39 Update README.md
  README.md
Labels: documentation

#45 doc: add helm charts to readme and add helm charts manual
  README.md
  doc/shardingsphere-helm-charts.md
  doc/shardingsphere-operator.md
Labels: documentation

#43 related to #38
  CONTRIBUTING.md
Labels: documentation

#46 refactor(domain): refactor domain sphere-ex.com to apache.org
  .github/ISSUE_TEMPLATE/bug_report.yaml
  charts/shardingsphere-cluster/templates/shardingsphere_v1alpha1_shardingsphereproxy.yaml
  charts/shardingsphere-cluster/templates/shardingsphere_v1alpha1_shardingsphereproxyserverconfig.yaml
  charts/shardingsphere-operator/crds/shardingsphere.apache.org_shardingsphereproxies.yaml
  charts/shardingsphere-operator/crds/shardingsphere.apache.org_shardingsphereproxyserverconfigs.yaml
  charts/shardingsphere-operator/templates/rbac.yaml
  charts/shardingsphere-operator/templates/webhook/admission-webhook-apiservice.yaml
  charts/shardingsphere-operator/templates/webhook/admission-webhook-configuration.yaml
  doc/shardingsphere-operator.md
  shardingsphere-operator/PROJECT
  shardingsphere-operator/api/v1alpha1/groupversion_info.go
  shardingsphere-operator/api/v1alpha1/proxy_webhook.go
  shardingsphere-operator/go.mod
  shardingsphere-operator/go.sum
  shardingsphere-operator/main.go
  shardingsphere-operator/pkg/controllers/proxy_controller.go
  shardingsphere-operator/pkg/controllers/proxyconfig_controller.go
  shardingsphere-operator/pkg/webhook/webhook.go
Labels: refactor

#47 fix(Reconcile): fix create HPA logic
  charts/shardingsphere-operator/values.yaml
  shardingsphere-operator/build/Dockerfile
  shardingsphere-operator/pkg/controllers/proxy_controller.go
Labels: bug
