Repository apache/shardingsphere-on-cloud, pull requests merged in 2022-09, with the labels that each got.

#55 docs: update description of Charts and default value of image
  README.md
  charts/shardingsphere-proxy/values.yaml
  doc/shardingsphere-helm-charts.md
Labels: documentation

#57 update charts and doc to version 5.2.0
  README.md
  charts/shardingsphere-cluster/values.yaml
  charts/shardingsphere-proxy/Chart.yaml
  charts/shardingsphere-proxy/values.yaml
  doc/shardingsphere-helm-charts.md
  doc/shardingsphere-operator.md
Labels: documentation, deploy

#58 chore(values): support proxy-frontend-database-protocol-type in props
  charts/shardingsphere-proxy/values.yaml
Labels: enhancement

#59 fix(values): fix props config location
  charts/shardingsphere-proxy/values.yaml
Labels: bug
