Repository apache/shardingsphere-on-cloud, pull requests merged in 2023-03, with the labels that each got.

#232 feat(pitr):agent backup api
  pitr/agent/internal/cons/error.go
  pitr/agent/internal/handler/backup.go
  pitr/agent/internal/handler/view/backup.go
  pitr/agent/internal/pkg/opengauss.go
  pitr/agent/internal/pkg/opengauss_test.go
  pitr/agent/internal/pkg/pkg.go
  pitr/agent/main.go
Labels: feature: pitr

#233 chore: update readme with current status
  README.md
Labels: type: enhancement, in: doc

#234 feat(pitr):agent restore api
  .gitignore
  pitr/agent/internal/cons/error.go
  pitr/agent/internal/handler/restore.go
  pitr/agent/internal/handler/show.go
  pitr/agent/internal/handler/view/show.go
  pitr/agent/internal/pkg/opengauss.go
  pitr/agent/pkg/cmds/cmd.go
Labels: feature: pitr

#235 0.2.0 release
  RELEASE-NOTES.md
  charts/apache-shardingsphere-proxy-charts/Chart.yaml
Labels: type: release

#237 feat(pitr):add gs_ctl func for IOpenGauss
  pitr/agent/internal/cons/error.go
  pitr/agent/internal/pkg/opengauss.go
  pitr/agent/internal/pkg/opengauss_test.go
Labels: feature: pitr

#236 chore: update index.html for new release
  index.yaml
Labels: type: release

#239 feat(pitr):agent restore api and backup pgdata
  pitr/agent/internal/cons/error.go
  pitr/agent/internal/handler/restore.go
  pitr/agent/internal/pkg/opengauss.go
  pitr/agent/main.go
Labels: feature: pitr

#238 feat: add wasm js sharding demo
  wasm/wasm-sharding-java/README.md
  wasm/wasm-sharding-java/pom.xml
  wasm/wasm-sharding-java/src/main/java/org/apache/shardingsphere/demo.java
  wasm/wasm-sharding-java/src/main/java/org/apache/shardingsphere/infra/algorithm/ShardingSphereAlgorithm.java
  wasm/wasm-sharding-java/src/main/java/org/apache/shardingsphere/infra/config/props/ConfigurationProperties.java
  wasm/wasm-sharding-java/src/main/java/org/apache/shardingsphere/infra/datanode/DataNodeInfo.java
  wasm/wasm-sharding-java/src/main/java/org/apache/shardingsphere/infra/util/props/ConfigurationPropertyKey.java
  wasm/wasm-sharding-java/src/main/java/org/apache/shardingsphere/infra/util/props/TypedProperties.java
  wasm/wasm-sharding-java/src/main/java/org/apache/shardingsphere/infra/util/props/TypedPropertyKey.java
  wasm/wasm-sharding-java/src/main/java/org/apache/shardingsphere/infra/util/props/TypedPropertyValue.java
  wasm/wasm-sharding-java/src/main/java/org/apache/shardingsphere/infra/util/spi/lifecycle/SPIPostProcessor.java
  wasm/wasm-sharding-java/src/main/java/org/apache/shardingsphere/infra/util/spi/type/typed/TypedSPI.java
  wasm/wasm-sharding-java/src/main/java/org/apache/shardingsphere/sharding/ModShardingAlgorithm.java
  wasm/wasm-sharding-java/src/main/java/org/apache/shardingsphere/sharding/WasmShardingAlgorithm.java
  wasm/wasm-sharding-java/src/main/java/org/apache/shardingsphere/sharding/api/sharding/ShardingValue.java
  wasm/wasm-sharding-java/src/main/java/org/apache/shardingsphere/sharding/api/sharding/standard/PreciseShardingValue.java
  wasm/wasm-sharding-java/src/main/java/org/apache/shardingsphere/sharding/api/sharding/standard/RangeShardingValue.java
  wasm/wasm-sharding-java/src/main/java/org/apache/shardingsphere/sharding/api/sharding/standard/StandardShardingAlgorithm.java
  wasm/wasm-sharding-java/src/main/java/org/apache/shardingsphere/sharding/route/engine/condition/value/ListShardingConditionValue.java
  wasm/wasm-sharding-java/src/main/java/org/apache/shardingsphere/sharding/route/engine/condition/value/RangeShardingConditionValue.java
  wasm/wasm-sharding-java/src/main/java/org/apache/shardingsphere/sharding/route/engine/condition/value/ShardingConditionValue.java
  wasm/wasm-sharding-java/src/main/java/org/apache/shardingsphere/sharding/route/strategy/ShardingStrategy.java
  wasm/wasm-sharding-java/src/main/java/org/apache/shardingsphere/sharding/route/strategy/type/standard/StandardShardingStrategy.java
  wasm/wasm-sharding-java/src/main/java/org/apache/shardingsphere/sharding/spi/ShardingAlgorithm.java
  wasm/wasm-sharding-java/wasm-sharding/Cargo.lock
  wasm/wasm-sharding-java/wasm-sharding/Cargo.toml
  wasm/wasm-sharding-java/wasm-sharding/src/lib.rs
  wasm/wasm-sharding-js/Cargo.lock
  wasm/wasm-sharding-js/Cargo.toml
  wasm/wasm-sharding-js/README.md
  wasm/wasm-sharding-js/build.rs
  wasm/wasm-sharding-js/lib/binding.rs
  wasm/wasm-sharding-js/package-lock.json
  wasm/wasm-sharding-js/package.json
  wasm/wasm-sharding-js/sharding/config.js
  wasm/wasm-sharding-js/sharding/crc32.js
  wasm/wasm-sharding-js/sharding/sharding.js
  wasm/wasm-sharding-js/sharding/strgen.js
  wasm/wasm-sharding-js/src/event_loop/mod.rs
  wasm/wasm-sharding-js/src/event_loop/poll.rs
  wasm/wasm-sharding-js/src/event_loop/wasi_sock.rs
  wasm/wasm-sharding-js/src/internal_module/core.rs
  wasm/wasm-sharding-js/src/internal_module/encoding.rs
  wasm/wasm-sharding-js/src/internal_module/httpx/core/chunk.rs
  wasm/wasm-sharding-js/src/internal_module/httpx/core/mod.rs
  wasm/wasm-sharding-js/src/internal_module/httpx/core/request.rs
  wasm/wasm-sharding-js/src/internal_module/httpx/core/response.rs
  wasm/wasm-sharding-js/src/internal_module/httpx/js_module.rs
  wasm/wasm-sharding-js/src/internal_module/httpx/mod.rs
  wasm/wasm-sharding-js/src/internal_module/img_module.rs
  wasm/wasm-sharding-js/src/internal_module/mod.rs
  wasm/wasm-sharding-js/src/internal_module/os.rs
  wasm/wasm-sharding-js/src/internal_module/tensorflow_module.rs
  wasm/wasm-sharding-js/src/internal_module/wasi_net_module.rs
  wasm/wasm-sharding-js/src/lib.rs
  wasm/wasm-sharding-js/src/main.rs
  wasm/wasm-sharding-js/src/quickjs_sys/js_class.rs
  wasm/wasm-sharding-js/src/quickjs_sys/js_module.rs
  wasm/wasm-sharding-js/src/quickjs_sys/macros.rs
  wasm/wasm-sharding-js/src/quickjs_sys/mod.rs
Labels: feature: wasm

#240 chore(agent): add debug log
  pitr/agent/internal/pkg/opengauss.go
  pitr/agent/internal/pkg/opengauss_test.go
  pitr/agent/internal/pkg/pkg.go
  pitr/agent/internal/pkg/pkg_test.go
  pitr/agent/main.go
Labels: feature: pitr

#244 fix(helm): version tag: from 0.1.2 to 0.2.0
  charts/apache-shardingsphere-operator-charts/values.yaml
Labels: feature: helm, type: fixed

#245 feat(pitr):cli-agent api integration and add httputils,custome err
  pitr/cli/go.mod
  pitr/cli/go.sum
  pitr/cli/internal/pkg/agent-server.go
  pitr/cli/internal/pkg/agent-server_test.go
  pitr/cli/internal/pkg/model/as_backup.go
  pitr/cli/internal/pkg/xerr/err.go
  pitr/cli/pkg/httputils/req.go
Labels: feature: pitr

#246 feat(pitr):cli-agent api integration
  pitr/cli/internal/pkg/agent-server.go
  pitr/cli/internal/pkg/agent-server_test.go
  pitr/cli/internal/pkg/model/as_restore.go
  pitr/cli/internal/pkg/model/as_show.go
Labels: feature: pitr

#247 feat(pitr):local storage,add some query method
  pitr/cli/internal/pkg/local-storage.go
  pitr/cli/internal/pkg/local-storage_test.go
  pitr/cli/internal/pkg/model/ls_backup.go
  pitr/cli/internal/pkg/xerr/err.go
Labels: feature: pitr

#248 check zookeeper settings to make sure pull up zookeeper success when …
  .gitignore
  charts/apache-shardingsphere-proxy-charts/templates/deployment.yaml
Labels: type: enhancement, feature: helm

#251 feat(grafana): add grafana dashboard for ShardingSphere Proxy
  grafana/ShardingSphere-Proxy-Dashboard.json
Labels: feature: grafana

#257 Update readme description about agent
  charts/apache-shardingsphere-proxy-charts/README.md
  charts/apache-shardingsphere-proxy-charts/templates/configmap.yaml
  charts/apache-shardingsphere-proxy-charts/values.yaml
Labels: type: enhancement, feature: helm, in: doc

#262 feat(pitr):wrap ShardingSphere Proxy DistSQL
  pitr/cli/internal/pkg/local-storage_test.go
  pitr/cli/internal/pkg/model/ls_backup.go
  pitr/cli/internal/pkg/model/ss_backup.go
  pitr/cli/internal/pkg/shardingsphere-proxy.go
  pitr/cli/internal/pkg/shardingsphere-proxy_test.go
Labels: feature: pitr

#263 fix(operator): fix update loop while handle status
  shardingsphere-operator/pkg/controllers/compute_node_controller.go
Labels: feature: operator, type: fixed

#260 feat(agent): support metric agent to operator
  charts/apache-shardingsphere-operator-charts/crds/shardingsphere.apache.org_computenodes.yaml
  charts/apache-shardingsphere-operator-charts/templates/operator_deployment.yaml
  charts/apache-shardingsphere-operator-charts/templates/shardingsphere_v1alpha1_computenode.yaml
  charts/apache-shardingsphere-operator-charts/values.yaml
  shardingsphere-operator/api/v1alpha1/compute_node_types.go
  shardingsphere-operator/api/v1alpha1/zz_generated.deepcopy.go
  shardingsphere-operator/pkg/reconcile/computenode/configmap.go
  shardingsphere-operator/pkg/reconcile/computenode/deployment.go
  shardingsphere-operator/pkg/reconcile/computenode/deployment_test.go
Labels: type: enhancement, feature: operator

#265 refactor(operator): update ComputeNode agent config.
  charts/apache-shardingsphere-operator-charts/crds/shardingsphere.apache.org_computenodes.yaml
  shardingsphere-operator/api/v1alpha1/compute_node_types.go
  shardingsphere-operator/api/v1alpha1/zz_generated.deepcopy.go
Labels: type: refactor, feature: operator

#267 chore: update examples and README docs
  README.md
  docs/content/operation-guide/operator/_index.cn.md
  docs/content/operation-guide/operator/_index.en.md
  docs/content/overview/_index.cn.md
  docs/content/overview/_index.en.md
  examples/operator/shardingsphereproxy-mysql-cluster.yaml
  examples/operator/shardingsphereproxy-mysql-standalone.yaml
Labels: type: enhancement, in: doc

#269 chore(operator): add some check when install operator by helm
  charts/apache-shardingsphere-operator-charts/templates/operator_deployment.yaml
Labels: type: enhancement, feature: helm

#273 feat(pitr): implement show backup record func
  pitr/cli/go.mod
  pitr/cli/go.sum
  pitr/cli/internal/cmd/show.go
  pitr/cli/internal/cmd/show_test.go
Labels: feature: pitr

#274 docs: Polish readme
  README.md
Labels: type: enhancement, in: doc

#275 issue266: expose metrics annotations throught ShardingSphere Proxy Helm
  charts/apache-shardingsphere-proxy-charts/templates/deployment.yaml
Labels: type: enhancement, feature: helm

#276 refactor(operator): refactor ComputeNode controller
  shardingsphere-operator/cmd/shardingsphere-operator/manager/manager.go
  shardingsphere-operator/cmd/shardingsphere-operator/manager/option.go
  shardingsphere-operator/cmd/shardingsphere-operator/manager/option_test.go
  shardingsphere-operator/pkg/controllers/compute_node_controller.go
Labels: type: refactor, feature: operator

#279 refactor(operator): update container and volume builder and fix resources
  shardingsphere-operator/pkg/kubernetes/configmap/configmap.go
  shardingsphere-operator/pkg/kubernetes/deployment/deployment.go
  shardingsphere-operator/pkg/kubernetes/service/service.go
  shardingsphere-operator/pkg/metrics/metrics.go
  shardingsphere-operator/pkg/reconcile/computenode/configmap.go
  shardingsphere-operator/pkg/reconcile/computenode/deployment.go
  shardingsphere-operator/pkg/reconcile/computenode/deployment_test.go
  shardingsphere-operator/pkg/reconcile/computenode/service.go
  shardingsphere-operator/pkg/reconcile/computenode/service_test.go
  shardingsphere-operator/pkg/reconcile/coverage.txt
  shardingsphere-operator/pkg/reconcile/proxy/deployment.go
  shardingsphere-operator/pkg/reconcile/proxy/hpa.go
  shardingsphere-operator/pkg/reconcile/proxy/resource.go
  shardingsphere-operator/pkg/reconcile/proxy/service.go
  shardingsphere-operator/pkg/reconcile/proxy/status.go
Labels: type: refactor, feature: operator

#278 feat(pitr): implement restore backup func
  .github/workflows/unit-test.yml
  .gitignore
  pitr/agent/internal/handler/restore.go
  pitr/cli/Makefile
  pitr/cli/go.mod
  pitr/cli/go.sum
  pitr/cli/internal/cmd/backup.go
  pitr/cli/internal/cmd/backup_test.go
  pitr/cli/internal/cmd/cmd_suite_test.go
  pitr/cli/internal/cmd/resotre.go
  pitr/cli/internal/cmd/restore.go
  pitr/cli/internal/cmd/restore_test.go
  pitr/cli/internal/cmd/root.go
  pitr/cli/internal/cmd/show.go
  pitr/cli/internal/cmd/show_test.go
  pitr/cli/internal/pkg/local-storage.go
  pitr/cli/internal/pkg/local-storage_test.go
  pitr/cli/internal/pkg/mocks/shardingsphere-proxy.go
  pitr/cli/internal/pkg/model/ss_backup.go
  pitr/cli/internal/pkg/shardingsphere-proxy.go
  pitr/cli/internal/pkg/shardingsphere-proxy_test.go
  pitr/cli/main.go
  pitr/cli/pkg/gsutil/conn_test.go
  pitr/cli/pkg/httputils/req.go
Labels: feature: pitr

#281 chore: update operator charts default image from ghcr to dockerhub
  charts/apache-shardingsphere-operator-charts/README.md
  charts/apache-shardingsphere-operator-charts/values.yaml
  docs/content/operation-guide/operator/_index.cn.md
  docs/content/operation-guide/operator/_index.en.md
  docs/shardingsphere-operator.md
Labels: type: enhancement, feature: operator, feature: helm

#283 chrore(pitr): add unit tests and update github workflow action version
  .github/workflows/unit-test.yml
  pitr/cli/Makefile
  pitr/cli/go.mod
  pitr/cli/go.sum
  pitr/cli/internal/cmd/backup.go
  pitr/cli/internal/cmd/backup_test.go
  pitr/cli/internal/cmd/cmd_suite_test.go
  pitr/cli/internal/cmd/restore.go
  pitr/cli/internal/cmd/restore_test.go
  pitr/cli/internal/cmd/show.go
  pitr/cli/internal/cmd/show_test.go
  pitr/cli/internal/pkg/agent-server.go
  pitr/cli/internal/pkg/agent-server_test.go
  pitr/cli/internal/pkg/local-storage_test.go
  pitr/cli/pkg/gsutil/conn.go
  pitr/cli/pkg/httputils/mocks/req.go
  pitr/cli/pkg/httputils/req.go
Labels: feature: pitr

#282 update helm charts and Dockerfile to support arm64
  .github/workflows/buildx.yml
  charts/apache-shardingsphere-operator-charts/Chart.yaml
  charts/apache-shardingsphere-proxy-charts/charts/governance/Chart.yaml
  shardingsphere-operator/build/Dockerfile
  shardingsphere-operator/start.sh
Labels: type: enhancement, feature: operator, feature: helm

#284 fix(ci): fix proxy charts and operator charts IT failure caused by untrusted github action
  .github/workflows/buildx.yml
  .github/workflows/operator-integration.yml
  .github/workflows/proxy-integration.yml
Labels: in: ci, type: fixed

#288 bugfix(pitr): fix storage nodes info struct error, add endtime to bac…
  pitr/agent/internal/handler/backup.go
  pitr/cli/go.mod
  pitr/cli/go.sum
  pitr/cli/internal/cmd/backup.go
  pitr/cli/internal/cmd/cmd_suite_test.go
  pitr/cli/internal/cmd/restore.go
  pitr/cli/internal/cmd/restore_test.go
  pitr/cli/internal/cmd/root.go
  pitr/cli/internal/pkg/local-storage.go
  pitr/cli/internal/pkg/model/ls_backup.go
  pitr/cli/internal/pkg/shardingsphere-proxy.go
  pitr/cli/pkg/gsutil/conn_test.go
Labels: feature: pitr
