Repository apache/shardingsphere-on-cloud, pull requests merged in 2023-07, with the labels that each got.

#428 refactor(operator): introduce PodBuilder and ShardingSphereDeploymentBuilder
  shardingsphere-operator/pkg/kubernetes/deployment/builder.go
  shardingsphere-operator/pkg/kubernetes/deployment/deployment_test.go
  shardingsphere-operator/pkg/kubernetes/pod/builder.go
  shardingsphere-operator/pkg/kubernetes/pod/pod.go
  shardingsphere-operator/pkg/kubernetes/pod/pod_test.go
Labels: type: refactor, operator, in: computenode

#429 refactor(operator): split DeploymentBuilder
  shardingsphere-operator/pkg/kubernetes/deployment/builder.go
  shardingsphere-operator/pkg/kubernetes/deployment/deployment.go
  shardingsphere-operator/pkg/kubernetes/deployment/deployment_test.go
  shardingsphere-operator/pkg/kubernetes/metadata/builder.go
  shardingsphere-operator/pkg/kubernetes/pod/builder.go
  shardingsphere-operator/pkg/reconcile/chaos/job.go
  shardingsphere-operator/pkg/reconcile/common/container.go
  shardingsphere-operator/pkg/reconcile/common/container_test.go
Labels: type: refactor, operator, in: computenode

#430 feat: add cnpg builder cluster parameters
  shardingsphere-operator/pkg/kubernetes/cloudnative-pg/builder.go
Labels: type: enhancement, operator, in: storagenode

#425 chore: update proxy charts version
  charts/apache-shardingsphere-proxy-charts/Chart.yaml
  charts/apache-shardingsphere-proxy-charts/README.md
  charts/apache-shardingsphere-proxy-charts/values.yaml
Labels: type: enhancement, helm

#426 fix(charts): fix operator charts and operator cluster role list
  .github/workflows/operator-integration.yml
  charts/apache-shardingsphere-operator-charts/Chart.yaml
  charts/apache-shardingsphere-operator-charts/README.md
  charts/apache-shardingsphere-operator-charts/templates/operator_deployment.yaml
  charts/apache-shardingsphere-operator-charts/templates/operator_rbac.yaml
  charts/apache-shardingsphere-operator-charts/values.yaml
  shardingsphere-operator/pkg/controllers/chaos_controller.go
Labels: github-action, operator, helm

#432 feat: add cnpg builder cluster parameters
  shardingsphere-operator/pkg/kubernetes/cloudnative-pg/builder.go
Labels: type: enhancement, operator, in: storagenode

#434 feat(operator): introduce new crd AutoScaler
  examples/operator/computenode-hpa.yaml
  shardingsphere-operator/api/v1alpha1/autoscaler_types.go
  shardingsphere-operator/api/v1alpha1/compute_node_types.go
  shardingsphere-operator/api/v1alpha1/zz_generated.deepcopy.go
  shardingsphere-operator/cmd/shardingsphere-operator/manager/option.go
  shardingsphere-operator/config/crd/bases/shardingsphere.apache.org_autoscalers.yaml
  shardingsphere-operator/config/crd/bases/shardingsphere.apache.org_chaos.yaml
  shardingsphere-operator/config/crd/bases/shardingsphere.apache.org_computenodes.yaml
  shardingsphere-operator/config/crd/bases/shardingsphere.apache.org_shardingsphereproxies.yaml
  shardingsphere-operator/config/crd/bases/shardingsphere.apache.org_shardingsphereproxyserverconfigs.yaml
  shardingsphere-operator/config/crd/bases/shardingsphere.apache.org_storagenodes.yaml
  shardingsphere-operator/config/crd/bases/shardingsphere.apache.org_storageproviders.yaml
  shardingsphere-operator/go.mod
  shardingsphere-operator/go.sum
  shardingsphere-operator/pkg/controllers/auto_scaler_controller.go
  shardingsphere-operator/pkg/controllers/compute_node_controller.go
  shardingsphere-operator/pkg/kubernetes/hpa/builder.go
  shardingsphere-operator/pkg/kubernetes/hpa/hpa.go
  shardingsphere-operator/pkg/kubernetes/resources.go
  shardingsphere-operator/pkg/reconcile/autoscaler/auto_scaler.go
  shardingsphere-operator/pkg/reconcile/autoscaler/hpa.go
Labels: operator, type: feature, in: autoscaler

#435 docs: add chaos user manual
  docs/content/user-manual/chaos/_index.en.md
Labels: docs

#436 feat(operator): introduce SemVer helpers to ComputeNode
  shardingsphere-operator/go.mod
  shardingsphere-operator/go.sum
  shardingsphere-operator/pkg/controllers/compute_node_controller.go
  shardingsphere-operator/pkg/kubernetes/helpers.go
  shardingsphere-operator/pkg/kubernetes/helpers_test.go
  shardingsphere-operator/pkg/reconcile/computenode/deployment.go
Labels: type: enhancement, operator, in: computenode

#437 feat: add vpa for AutoScaler
  shardingsphere-operator/pkg/controllers/auto_scaler_controller.go
  shardingsphere-operator/pkg/kubernetes/resources.go
  shardingsphere-operator/pkg/kubernetes/vpa/builder.go
  shardingsphere-operator/pkg/kubernetes/vpa/vpa.go
  shardingsphere-operator/pkg/reconcile/autoscaler/auto_scaler.go
  shardingsphere-operator/pkg/reconcile/autoscaler/vpa.go
Labels: operator, type: feature, in: autoscaler

#438 release 0.3.0
  .github/workflows/proxy-integration.yml
  RELEASE-NOTES.md
  charts/apache-shardingsphere-proxy-charts/charts/governance/Chart.lock
  docs/content/user-manual/cn-sn-operator/_index.cn.md
  docs/content/user-manual/cn-sn-operator/_index.en.md
Labels: github-action, helm, docs
