Repository apache/shardingsphere-on-cloud, pull requests merged in 2023-04, with the labels that each got.

#294 chore(ci): add golangci-lint and refactor according to the result
  shardingsphere-operator/.golangci.yml
  shardingsphere-operator/Makefile
  shardingsphere-operator/api/v1alpha1/compute_node_types.go
  shardingsphere-operator/api/v1alpha1/proxy_status.go
  shardingsphere-operator/pkg/controllers/compute_node_controller.go
  shardingsphere-operator/pkg/controllers/compute_node_controller_test.go
  shardingsphere-operator/pkg/controllers/proxy_controller.go
  shardingsphere-operator/pkg/controllers/proxyconfig_controller.go
  shardingsphere-operator/pkg/reconcile/computenode/configmap.go
  shardingsphere-operator/pkg/reconcile/computenode/configmap_test.go
  shardingsphere-operator/pkg/reconcile/computenode/deployment.go
  shardingsphere-operator/pkg/reconcile/computenode/deployment_test.go
  shardingsphere-operator/pkg/reconcile/computenode/service.go
  shardingsphere-operator/pkg/reconcile/computenode/service_test.go
  shardingsphere-operator/pkg/reconcile/proxy/deployment.go
  shardingsphere-operator/pkg/reconcile/proxy/deployment_test.go
  shardingsphere-operator/pkg/reconcile/proxy/service.go
  shardingsphere-operator/pkg/webhook/webhook.go
Labels: type: refactor, in: ci, feature: operator

#295 chore(ci): add golangci-lint
  .github/workflows/golint.yml
  .github/workflows/operator-unit-test.yml
  .github/workflows/pitr-unit-test.yml
  pitr/agent/.golangci.yml
  pitr/cli/.golangci.yml
Labels: type: enhancement, in: ci

#296 refactor(operator): refactor according to golangci-lint
  .github/workflows/commit-msg.yml
  .github/workflows/operator-golint.yml
  .github/workflows/pitr-golint.yml
  shardingsphere-operator/.golangci.yml
  shardingsphere-operator/api/v1alpha1/compute_node_types.go
  shardingsphere-operator/api/v1alpha1/proxy_status.go
  shardingsphere-operator/pkg/controllers/compute_node_controller.go
  shardingsphere-operator/pkg/controllers/compute_node_controller_test.go
  shardingsphere-operator/pkg/controllers/proxy_controller.go
  shardingsphere-operator/pkg/reconcile/computenode/deployment.go
  shardingsphere-operator/pkg/reconcile/computenode/service.go
  shardingsphere-operator/pkg/reconcile/proxy/deployment.go
  shardingsphere-operator/pkg/reconcile/proxy/deployment_test.go
  shardingsphere-operator/pkg/reconcile/proxy/resource.go
  shardingsphere-operator/pkg/reconcile/proxy/status.go
  shardingsphere-operator/pkg/reconcile/proxyconfig/configmap.go
Labels: type: refactor, feature: operator

#299 fix: fix proxy controller according to golangci-lint
  .github/workflows/commit-msg.yml
  shardingsphere-operator/.golangci.yml
  shardingsphere-operator/pkg/controllers/compute_node_controller.go
  shardingsphere-operator/pkg/controllers/proxy_controller.go
  shardingsphere-operator/pkg/reconcile/computenode/configmap.go
  shardingsphere-operator/pkg/reconcile/computenode/service.go
Labels: feature: operator, type: fixed

#300 refactor: refactor computenode and proxy controller deployment according to golangci-lint
  shardingsphere-operator/.golangci.yml
  shardingsphere-operator/pkg/controllers/compute_node_controller.go
  shardingsphere-operator/pkg/reconcile/computenode/deployment.go
  shardingsphere-operator/pkg/reconcile/proxy/deployment.go
Labels: type: refactor, feature: operator

#297 bugfix(pitr): fix test case show no record
  .github/workflows/pitr-golint.yml
  pitr/agent/.golangci.yml
  pitr/agent/Makefile
  pitr/agent/internal/cons/error.go
  pitr/agent/internal/handler/backup.go
  pitr/agent/internal/handler/middleware/http_header.go
  pitr/agent/internal/handler/middleware/logger.go
  pitr/agent/internal/handler/middleware/recovery.go
  pitr/agent/internal/handler/middleware/uniform_err_resp.go
  pitr/agent/internal/handler/restore.go
  pitr/agent/internal/handler/show.go
  pitr/agent/internal/handler/view/backup.go
  pitr/agent/internal/handler/view/restore.go
  pitr/agent/internal/handler/view/show.go
  pitr/agent/internal/pkg/model/backup.go
  pitr/agent/internal/pkg/opengauss.go
  pitr/agent/internal/pkg/opengauss_test.go
  pitr/agent/main.go
  pitr/agent/pkg/cmds/cmd.go
  pitr/agent/pkg/gsutil/conn.go
  pitr/agent/pkg/logging/field.go
  pitr/agent/pkg/logging/log.go
  pitr/agent/pkg/logging/zap_log.go
  pitr/agent/pkg/strutil/rand_string.go
  pitr/agent/pkg/syncutils/recover_func.go
  pitr/cli/.golangci.yml
  pitr/cli/Makefile
  pitr/cli/internal/cmd/backup.go
  pitr/cli/internal/cmd/restore.go
  pitr/cli/internal/cmd/restore_test.go
  pitr/cli/internal/cmd/show.go
  pitr/cli/internal/cmd/show_test.go
  pitr/cli/internal/pkg/agent-server.go
  pitr/cli/internal/pkg/agent-server_test.go
  pitr/cli/internal/pkg/local-storage.go
  pitr/cli/internal/pkg/mocks/local-storage.go
  pitr/cli/internal/pkg/model/as_backup.go
  pitr/cli/internal/pkg/model/as_restore.go
  pitr/cli/internal/pkg/model/as_show.go
  pitr/cli/internal/pkg/shardingsphere-proxy.go
  pitr/cli/internal/pkg/xerr/err.go
  pitr/cli/main.go
  pitr/cli/pkg/httputils/req.go
  pitr/cli/pkg/logging/field.go
  pitr/cli/pkg/stringutil/rand_string.go
  pitr/cli/pkg/stringutil/rand_string_test.go
Labels: type: refactor, feature: pitr

#301 feat: Implements EncryptionRule DistSQL Parser Visitor with AST
  shardingsphere-operator/go.mod
  shardingsphere-operator/go.sum
  shardingsphere-operator/pkg/distsql/antlr4/encrypt/Alphabet.g4
  shardingsphere-operator/pkg/distsql/antlr4/encrypt/BaseRule.g4
  shardingsphere-operator/pkg/distsql/antlr4/encrypt/Keyword.g4
  shardingsphere-operator/pkg/distsql/antlr4/encrypt/Literals.g4
  shardingsphere-operator/pkg/distsql/antlr4/encrypt/RDLStatement.g4
  shardingsphere-operator/pkg/distsql/antlr4/encrypt/RQLStatement.g4
  shardingsphere-operator/pkg/distsql/antlr4/encrypt/Symbol.g4
  shardingsphere-operator/pkg/distsql/ast/rdl_ast.go
  shardingsphere-operator/pkg/distsql/visitor/rdl_visitor.go
  shardingsphere-operator/pkg/distsql/visitor_parser/encrypt/rdlstatement_base_visitor.go
  shardingsphere-operator/pkg/distsql/visitor_parser/encrypt/rdlstatement_lexer.go
  shardingsphere-operator/pkg/distsql/visitor_parser/encrypt/rdlstatement_parser.go
  shardingsphere-operator/pkg/distsql/visitor_parser/encrypt/rdlstatement_visitor.go
Labels: type: enhancement, feature: operator, in: feature

#304 chore(encrypt-distsql): Add IfExists to AST
  shardingsphere-operator/pkg/distsql/visitor/rdl_visitor.go
Labels: type: enhancement, feature: operator

#305 Common builder
  shardingsphere-operator/pkg/reconcile/common/container.go
  shardingsphere-operator/pkg/reconcile/common/container_test.go
  shardingsphere-operator/pkg/reconcile/computenode/deployment.go
  shardingsphere-operator/pkg/reconcile/computenode/deployment_test.go
Labels: type: refactor, feature: operator

#306 refactor reconcile/configmap to common pkg
  shardingsphere-operator/pkg/controllers/compute_node_controller.go
  shardingsphere-operator/pkg/reconcile/common/configmap.go
  shardingsphere-operator/pkg/reconcile/computenode/configmap.go
  shardingsphere-operator/pkg/reconcile/computenode/configmap_test.go
Labels: type: refactor, feature: operator

#293 feat(storage-node): add reconcile logic
  .licenserc.yaml
  shardingsphere-operator/Makefile
  shardingsphere-operator/api/v1alpha1/compute_node_types.go
  shardingsphere-operator/api/v1alpha1/storage_node_types.go
  shardingsphere-operator/api/v1alpha1/zz_generated.deepcopy.go
  shardingsphere-operator/cmd/shardingsphere-operator/manager/option.go
  shardingsphere-operator/go.mod
  shardingsphere-operator/go.sum
  shardingsphere-operator/pkg/controllers/compute_node_controller.go
  shardingsphere-operator/pkg/controllers/controllers_suite_test.go
  shardingsphere-operator/pkg/controllers/storage_node_controller.go
  shardingsphere-operator/pkg/controllers/storage_node_controller_test.go
  shardingsphere-operator/pkg/reconcile/storagenode/awsaurora/awsaurora.go
  shardingsphere-operator/pkg/reconcile/storagenode/awsaurora/awsaurora_suite_test.go
  shardingsphere-operator/pkg/reconcile/storagenode/awsaurora/awsaurora_test.go
  shardingsphere-operator/pkg/reconcile/storagenode/mocks/storagenode.go
  shardingsphere-operator/pkg/reconcile/storagenode/storagenode.go
Labels: type: enhancement, feature: operator, in: feature

#310 feat: Add covert AST to string method
  shardingsphere-operator/pkg/distsql/ast/rdl_ast.go
  shardingsphere-operator/pkg/distsql/visitor/distsql_test.go
  shardingsphere-operator/pkg/distsql/visitor/rdl_visitor.go
  shardingsphere-operator/pkg/distsql/visitor/visitor_suite_test.go
Labels: type: enhancement, feature: operator

#303 Add inject req and pressure spec and reconcile logic
  docs/content/features/ShardingSphereChaos/_index.cn.md
  pitr/cli/.golangci.yml
  shardingsphere-operator/.golangci.yml
  shardingsphere-operator/api/v1alpha1/shardingsphere_chaos_types.go
  shardingsphere-operator/api/v1alpha1/zz_generated.deepcopy.go
  shardingsphere-operator/build/tools/Dockerfile
  shardingsphere-operator/build/tools/start.sh
  shardingsphere-operator/cmd/shardingsphere-operator/manager/option.go
  shardingsphere-operator/go.mod
  shardingsphere-operator/go.sum
  shardingsphere-operator/pkg/controllers/compute_node_controller.go
  shardingsphere-operator/pkg/controllers/shardingsphere_chaos_controller.go
  shardingsphere-operator/pkg/kubernetes/chaos/chaos.go
  shardingsphere-operator/pkg/kubernetes/chaos/chaos_mesh.go
  shardingsphere-operator/pkg/kubernetes/job/job.go
  shardingsphere-operator/pkg/reconcile/computenode/deployment.go
  shardingsphere-operator/pkg/reconcile/shardingspherechaos/chaos-mesh.go
  shardingsphere-operator/pkg/reconcile/shardingspherechaos/chaos.go
  shardingsphere-operator/pkg/reconcile/shardingspherechaos/configmap.go
  shardingsphere-operator/pkg/reconcile/shardingspherechaos/job.go
  shardingsphere-operator/pkg/reconcile/shardingspherechaos/shardingspherechaos_suite_test.go
  shardingsphere-operator/pkg/reconcile/shardingspherechaos/shardingspherechaos_test.go
Labels: type: enhancement, feature: operator, feature: chaos

#311 change docker images and push,change images for job
  shardingsphere-operator/build/tools/Dockerfile
  shardingsphere-operator/build/tools/start.sh
  shardingsphere-operator/pkg/reconcile/shardingspherechaos/job.go
Labels: type: enhancement, feature: operator

#313 feat: support alter & drop encrypt rule distsql AST
  shardingsphere-operator/pkg/distsql/ast/rdl_ast.go
  shardingsphere-operator/pkg/distsql/visitor/rdl_visitor.go
Labels: type: enhancement, feature: operator

#312 add event and status.phase to control resource create check
  shardingsphere-operator/api/v1alpha1/shardingsphere_chaos_types.go
  shardingsphere-operator/build/tools/Dockerfile
  shardingsphere-operator/cmd/shardingsphere-operator/manager/option.go
  shardingsphere-operator/pkg/controllers/shardingsphere_chaos_controller.go
  shardingsphere-operator/pkg/reconcile/shardingspherechaos/chaos-mesh.go
  shardingsphere-operator/pkg/reconcile/shardingspherechaos/job.go
Labels: type: enhancement, feature: operator, feature: chaos

#314 feat(storagenode): support aws rds instance
  shardingsphere-operator/api/v1alpha1/storage_node_types.go
  shardingsphere-operator/cmd/shardingsphere-operator/manager/option.go
  shardingsphere-operator/go.mod
  shardingsphere-operator/go.sum
  shardingsphere-operator/pkg/controllers/controllers_suite_test.go
  shardingsphere-operator/pkg/controllers/storage_node_controller.go
  shardingsphere-operator/pkg/controllers/storage_node_controller_test.go
  shardingsphere-operator/pkg/reconcile/storagenode/aws/aurora.go
  shardingsphere-operator/pkg/reconcile/storagenode/aws/aws.go
  shardingsphere-operator/pkg/reconcile/storagenode/aws/aws_suite_test.go
  shardingsphere-operator/pkg/reconcile/storagenode/aws/mocks/aws.go
  shardingsphere-operator/pkg/reconcile/storagenode/aws/rdsinstance.go
  shardingsphere-operator/pkg/reconcile/storagenode/aws/rdsinstance_test.go
  shardingsphere-operator/pkg/reconcile/storagenode/awsaurora/awsaurora.go
  shardingsphere-operator/pkg/reconcile/storagenode/awsaurora/awsaurora_suite_test.go
  shardingsphere-operator/pkg/reconcile/storagenode/awsaurora/awsaurora_test.go
  shardingsphere-operator/pkg/reconcile/storagenode/mocks/storagenode.go
Labels: type: enhancement, feature: operator

#318 perf(pitr): check status of agent servers before do backup
  pitr/cli/go.mod
  pitr/cli/go.sum
  pitr/cli/internal/cmd/backup.go
  pitr/cli/internal/cmd/backup_test.go
  pitr/cli/internal/pkg/agent-server.go
  pitr/cli/internal/pkg/mocks/agent-server.go
  pitr/cli/internal/pkg/model/as_backup.go
  pitr/cli/internal/pkg/shardingsphere-proxy.go
Labels: feature: pitr

#319 feat(pitr): pirt agent server support load env file
  pitr/agent/go.mod
  pitr/agent/go.sum
  pitr/agent/main.go
  pitr/agent/pkg/cmds/cmd.go
  pitr/agent/pkg/cmds/cmd_test.go
Labels: feature: pitr

#320 chore(pitr): pitr agent add test workflow
  .github/workflows/pitr-unit-test.yml
  pitr/agent/internal/pkg/opengauss.go
  pitr/agent/internal/pkg/opengauss_test.go
  pitr/agent/internal/pkg/pkg_test.go
  pitr/agent/main.go
  pitr/agent/pkg/cmds/cmd_test.go
  pitr/agent/pkg/cmds/cmds_test.go
  pitr/agent/pkg/gsutil/conn_test.go
  pitr/agent/pkg/logging/log.go
Labels: feature: pitr

#322 feat(pitr): pitr support check disk space before do backup and restore
  .licenserc.yaml
  pitr/agent/internal/cons/error.go
  pitr/agent/internal/handler/diskspace.go
  pitr/agent/internal/handler/diskspace_test.go
  pitr/agent/internal/handler/handler_suite_test.go
  pitr/agent/internal/handler/view/diskspace.go
  pitr/agent/main.go
  pitr/cli/internal/cmd/backup.go
  pitr/cli/internal/cmd/backup_test.go
  pitr/cli/internal/cmd/cmd_suite_test.go
  pitr/cli/internal/cmd/restore.go
  pitr/cli/internal/cmd/restore_test.go
  pitr/cli/internal/cmd/root.go
  pitr/cli/internal/cmd/root_test.go
  pitr/cli/internal/pkg/agent-server.go
  pitr/cli/internal/pkg/mocks/agent-server.go
  pitr/cli/internal/pkg/model/as_show.go
Labels: feature: pitr

#325 chore: update badges in README
  .github/workflows/operator-unit-test.yml
  README.md
  shardingsphere-operator/pkg/controllers/shardingsphere_chaos_controller.go
Labels: in: doc

#327 refactor(operator): style adjustment and refactor ShardingSphereChaos definitions
  shardingsphere-operator/api/v1alpha1/shardingsphere_chaos_types.go
  shardingsphere-operator/api/v1alpha1/zz_generated.deepcopy.go
  shardingsphere-operator/pkg/controllers/shardingsphere_chaos_controller.go
  shardingsphere-operator/pkg/reconcile/shardingspherechaos/chaos-mesh.go
  shardingsphere-operator/pkg/reconcile/shardingspherechaos/shardingspherechaos_test.go
Labels: type: refactor, feature: operator, feature: chaos

#326 chore(pitr): restore support display progress
  pitr/agent/internal/handler/restore.go
  pitr/agent/main.go
  pitr/cli/internal/cmd/backup.go
  pitr/cli/internal/cmd/restore.go
  pitr/cli/internal/cmd/restore_test.go
  pitr/cli/internal/cmd/root.go
  pitr/cli/internal/pkg/model/as_backup.go
  pitr/cli/internal/pkg/model/as_restore.go
  pitr/cli/internal/pkg/model/const.go
  pitr/cli/pkg/prettyoutput/prettyoutput_suite_test.go
  pitr/cli/pkg/prettyoutput/progress_test.go
Labels: feature: pitr

#330 chore(DistSQL): optimize distsql AST parse
  shardingsphere-operator/pkg/distsql/ast/rdl_ast.go
Labels: type: enhancement, feature: operator

#328 refactor(operator): merge builder into kubernetes setter
  shardingsphere-operator/cmd/shardingsphere-operator/manager/option.go
  shardingsphere-operator/pkg/controllers/compute_node_controller.go
  shardingsphere-operator/pkg/kubernetes/configmap/builder.go
  shardingsphere-operator/pkg/kubernetes/configmap/configmap.go
  shardingsphere-operator/pkg/kubernetes/configmap/configmap_suite_test.go
  shardingsphere-operator/pkg/kubernetes/configmap/configmap_test.go
  shardingsphere-operator/pkg/kubernetes/deployment/builder.go
  shardingsphere-operator/pkg/kubernetes/deployment/deployment.go
  shardingsphere-operator/pkg/kubernetes/deployment/deployment_test.go
  shardingsphere-operator/pkg/kubernetes/service/buidler.go
  shardingsphere-operator/pkg/kubernetes/service/service.go
  shardingsphere-operator/pkg/kubernetes/service/service_test.go
  shardingsphere-operator/pkg/reconcile/computenode/compute_node_test.go
  shardingsphere-operator/pkg/reconcile/computenode/computer_node.go
Labels: type: refactor, feature: operator

#329 feat(pitr): try to cleanup backup data if exec backup failed.
  pitr/agent/go.mod
  pitr/agent/go.sum
  pitr/agent/internal/cons/error.go
  pitr/agent/internal/handler/backup.go
  pitr/agent/internal/handler/backup_test.go
  pitr/agent/internal/handler/diskspace_test.go
  pitr/agent/internal/handler/handler_suite_test.go
  pitr/agent/internal/handler/view/backup.go
  pitr/agent/internal/pkg/mocks/opengauss.go
  pitr/agent/internal/pkg/opengauss.go
  pitr/agent/internal/pkg/opengauss_test.go
  pitr/agent/main.go
  pitr/cli/internal/cmd/backup.go
  pitr/cli/internal/cmd/backup_test.go
  pitr/cli/internal/cmd/restore_test.go
  pitr/cli/internal/pkg/agent-server.go
  pitr/cli/internal/pkg/mocks/agent-server.go
  pitr/cli/internal/pkg/model/as_backup.go
Labels: feature: pitr

#332 refactor(operator): merge builder and setter and refactor chaos mgmt
  .github/workflows/operator-unit-test.yml
  shardingsphere-operator/api/v1alpha1/shardingsphere_chaos_types.go
  shardingsphere-operator/api/v1alpha1/zz_generated.deepcopy.go
  shardingsphere-operator/cmd/shardingsphere-operator/manager/option.go
  shardingsphere-operator/pkg/controllers/shardingsphere_chaos_controller.go
  shardingsphere-operator/pkg/kubernetes/chaos/chaos.go
  shardingsphere-operator/pkg/kubernetes/chaos/chaos_mesh.go
  shardingsphere-operator/pkg/kubernetes/chaosmesh/builder.go
  shardingsphere-operator/pkg/kubernetes/chaosmesh/chaosmesh.go
  shardingsphere-operator/pkg/reconcile/shardingspherechaos/chaos.go
  shardingsphere-operator/pkg/reconcile/shardingspherechaos/job.go
  shardingsphere-operator/pkg/reconcile/shardingspherechaos/shardingsphere_chaos_suite_test.go
  shardingsphere-operator/pkg/reconcile/shardingspherechaos/shardingsphere_chaos_test.go
Labels: type: refactor, feature: operator, feature: chaos

#324 feat(operator): fix status.result error
  shardingsphere-operator/pkg/controllers/shardingsphere_chaos_controller.go
Labels: feature: operator, feature: chaos
