Repository apache/shardingsphere-on-cloud, pull requests merged in 2023-02, with the labels that each got.

#192 refactor(operator): refactor manager setup with options
  shardingsphere-operator/cmd/shardingsphere-operator/main.go
  shardingsphere-operator/cmd/shardingsphere-operator/manager/manager.go
  shardingsphere-operator/cmd/shardingsphere-operator/manager/option.go
  shardingsphere-operator/go.mod
  shardingsphere-operator/go.sum
Labels: type: refactor, feature: operator

#194 update licenserc for gitkeep
  .licenserc.yaml
Labels: type: enhancement

#196 feat: Set up and test the HTTPS certificate, and refactor the `main.go` code
  pitr/agent/Makefile
  pitr/agent/main.go
Labels: in: feature

#197 feat: pitr agent service add shell flags and example for execute command
  pitr/agent/main.go
  pitr/agent/pkg/cmds/cmd.go
  pitr/agent/pkg/cmds/cmd_test.go
Labels: in: feature

#198 chore(operator): add ginkgo framework for ComputeNode ConfigMap
  shardingsphere-operator/go.mod
  shardingsphere-operator/go.sum
  shardingsphere-operator/pkg/reconcile/computenode/compute_node_suite_test.go
  shardingsphere-operator/pkg/reconcile/computenode/configmap.go
  shardingsphere-operator/pkg/reconcile/computenode/configmap_test.go
Labels: feature: operator, in:test

#199 chore: introduce envtest for IT
  .github/workflows/unit-test.yml
  shardingsphere-operator/pkg/reconcile/computenode/compute_node_suite_test.go
  shardingsphere-operator/pkg/reconcile/computenode/compute_node_test.go
Labels: type: enhancement, in:test

#200 feat: get shell from env
  pitr/agent/main.go
Labels: feature: pitr

#201 feat: optimize command execution
  pitr/agent/go.mod
  pitr/agent/internal/cons/error.go
  pitr/agent/internal/handler/middleware/http_header.go
  pitr/agent/internal/handler/middleware/logger.go
  pitr/agent/internal/handler/middleware/recovery.go
  pitr/agent/internal/handler/middleware/uniform_err_resp.go
  pitr/agent/main.go
  pitr/agent/pkg/cmds/cmd.go
  pitr/agent/pkg/cmds/cmd_test.go
  pitr/agent/pkg/responder/resp.go
  pitr/agent/pkg/syncutils/recover_func.go
  pitr/cli/go.mod
Labels: feature: pitr

#203 chore: add more Ginkgo tests for ComputeNode
  shardingsphere-operator/api/v1alpha1/compute_node_types.go
  shardingsphere-operator/pkg/reconcile/computenode/compute_node_test.go
  shardingsphere-operator/pkg/reconcile/computenode/deployment.go
Labels: in:test

#205 feat:add show cmd and update the test case
  pitr/agent/internal/cons/error.go
  pitr/agent/internal/pkg/model/backup.go
  pitr/agent/internal/pkg/opengauss.go
  pitr/agent/internal/pkg/opengauss_test.go
Labels: feature: pitr

#206 feat:add delete backup method and capture shell exec status
  pitr/agent/internal/cons/error.go
  pitr/agent/internal/pkg/opengauss.go
  pitr/agent/internal/pkg/opengauss_test.go
  pitr/agent/pkg/cmds/cmd.go
Labels: feature: pitr

#207 feat: init instance method and test it
  pitr/agent/internal/cons/error.go
  pitr/agent/internal/pkg/opengauss.go
  pitr/agent/internal/pkg/opengauss_test.go
Labels: feature: pitr

#209 chore: add test framework for GSoC
  shardingsphere-operator/pkg/reconcile/computenode/compute_node_test.go
Labels: in:test, gsoc-2023

#210 feat: instance add\del method and test it
  pitr/agent/internal/cons/error.go
  pitr/agent/internal/pkg/opengauss.go
  pitr/agent/internal/pkg/opengauss_test.go
Labels: feature: pitr

#211 feat: gs_ctl start|stop and test it
  pitr/agent/internal/cons/error.go
  pitr/agent/internal/pkg/opengauss.go
  pitr/agent/internal/pkg/opengauss_test.go
Labels: feature: pitr

#212 feat:add restore method and update AsyncExec func
  pitr/agent/internal/cons/error.go
  pitr/agent/internal/pkg/opengauss.go
  pitr/agent/pkg/cmds/cmd.go
Labels: feature: pitr

#215 feat:process pgdata values
  pitr/agent/main.go
Labels: feature: pitr

#216 feat:cli add logger
  pitr/cli/go.mod
  pitr/cli/go.sum
  pitr/cli/internal/cmd/backup.go
  pitr/cli/internal/cmd/resotre.go
  pitr/cli/internal/cmd/root.go
  pitr/cli/internal/cmd/show.go
  pitr/cli/main.go
  pitr/cli/pkg/logging/field.go
  pitr/cli/pkg/logging/log.go
  pitr/cli/pkg/logging/zap_log.go
Labels: feature: pitr

#218 feat(pitr): agent server api output
  pitr/agent/internal/cons/error.go
  pitr/agent/internal/handler/view/backup.go
  pitr/agent/internal/handler/view/restore.go
  pitr/agent/internal/handler/view/show.go
Labels: feature: pitr

#219 feat: update FeatureGate handlers
  shardingsphere-operator/cmd/shardingsphere-operator/manager/manager.go
  shardingsphere-operator/cmd/shardingsphere-operator/manager/option.go
Labels: type: enhancement, feature: operator, in: feature

#221 feat(pitr):init the cli program dir
  pitr/cli/go.mod
  pitr/cli/go.sum
  pitr/cli/internal/pkg/local-storage.go
  pitr/cli/internal/pkg/local-storage_test.go
  pitr/cli/internal/pkg/pkg_test.go
Labels: feature: pitr

#223 fix(operator): fix commandline options parse for feature gates
  charts/apache-shardingsphere-operator-charts/crds/shardingsphere.apache.org_computenodes.yaml
  shardingsphere-operator/cmd/shardingsphere-operator/manager/option.go
Labels: feature: operator, type: fixed

#224 chore: update helm charts and docs for Operator and ComputeNode
  charts/apache-shardingsphere-operator-charts/README.md
  charts/apache-shardingsphere-operator-charts/templates/operator_deployment.yaml
  charts/apache-shardingsphere-operator-charts/templates/operator_rbac.yaml
  charts/apache-shardingsphere-operator-charts/templates/shardingsphere_v1alpha1_computenode.yaml
  charts/apache-shardingsphere-operator-charts/values.yaml
  shardingsphere-operator/Makefile
Labels: type: enhancement, feature: helm, in: doc

#225 chore: update operator chart version
  charts/apache-shardingsphere-operator-charts/Chart.yaml
Labels: feature: helm, type: fixed

#228 feat(pitr):gs db utils new db and ping check
  pitr/agent/go.mod
  pitr/agent/go.sum
  pitr/agent/internal/pkg/opengauss.go
  pitr/agent/pkg/gsutil/conn.go
  pitr/agent/pkg/gsutil/conn_test.go
  pitr/agent/pkg/gsutil/gsutil_test.go
Labels: feature: pitr

#230 feat(pitr):agent server,show backup list
  pitr/agent/internal/pkg/opengauss.go
  pitr/agent/internal/pkg/opengauss_test.go
Labels: feature: pitr
