Repository apache/shardingsphere-on-cloud, pull requests merged in 2023-01, with the labels that each got.

#169 Update _index.en.md
  docs/content/operation-guide/using-terraform-to-deploy-multi-az-on-huaweicloud/_index.en.md
Labels: in: doc

#172 feat(operator): introduce rolling update for Proxy with annotations
  .gitignore
  shardingsphere-operator/pkg/reconcile/deployment.go
  shardingsphere-operator/pkg/reconcile/deployment_test.go
  shardingsphere-operator/pkg/reconcile/reconcile_test.go
Labels: type: enhancement, feature: operator

#173 fix(ci): fix docker build for ci
  .github/workflows/build.yaml
Labels: in: ci

#176 chore(index): update index.yaml for 0.1.2
  index.yaml
Labels: feature: helm

#174 0.1.2 release
  NOTICE
  RELEASE-NOTES.md
  charts/README.md
  charts/apache-shardingsphere-operator-charts/Chart.yaml
  charts/apache-shardingsphere-operator-charts/NOTICE
  charts/apache-shardingsphere-operator-charts/README.md
  charts/apache-shardingsphere-operator-charts/values.yaml
  charts/apache-shardingsphere-proxy-charts/Chart.yaml
  charts/apache-shardingsphere-proxy-charts/NOTICE
  charts/apache-shardingsphere-proxy-charts/charts/governance/Chart.yaml
  charts/apache-shardingsphere-proxy-charts/values.yaml
  docs/content/operation-guide/operator/_index.cn.md
  docs/content/operation-guide/operator/_index.en.md
  docs/content/operation-guide/using-terraform-to-deploy-multi-az-on-huaweicloud/_index.cn.md
  docs/content/operation-guide/using-terraform-to-deploy-multi-az-on-huaweicloud/_index.en.md
  terraform/huawei/README.md
Labels: type: release

#177 fix(operator): fix readyNodes and conditions in ProxyStatus
  shardingsphere-operator/api/v1alpha1/proxy_status.go
  shardingsphere-operator/api/v1alpha1/zz_generated.deepcopy.go
  shardingsphere-operator/pkg/controllers/proxy_controller.go
  shardingsphere-operator/pkg/reconcile/deployment.go
  shardingsphere-operator/pkg/reconcile/deployment_test.go
Labels: type: bug, feature: operator

#179 fix(operator): fix mysqlDriver config and conditions nil error
  shardingsphere-operator/pkg/reconcile/deployment.go
Labels: feature: operator, type: fixed

#180 refactor: remove unused status functions
  shardingsphere-operator/api/v1alpha1/proxy_status.go
  shardingsphere-operator/pkg/controllers/proxy_controller.go
Labels: type: refactor, feature: operator

#181 feat: introduce new CRD ComputeNode
  charts/apache-shardingsphere-operator-charts/crds/shardingsphere.apache.org_computenodes.yaml
  charts/apache-shardingsphere-operator-charts/crds/shardingsphere.apache.org_shardingsphereproxies.yaml
  charts/apache-shardingsphere-operator-charts/crds/shardingsphere.apache.org_shardingsphereproxyserverconfigs.yaml
  shardingsphere-operator/Makefile
  shardingsphere-operator/api/v1alpha1/compute_node_types.go
  shardingsphere-operator/api/v1alpha1/zz_generated.deepcopy.go
  shardingsphere-operator/cmd/shardingsphere-operator/manager/manager.go
  shardingsphere-operator/go.mod
  shardingsphere-operator/go.sum
  shardingsphere-operator/pkg/controllers/compute_node_controller.go
  shardingsphere-operator/pkg/controllers/proxy_controller.go
  shardingsphere-operator/pkg/reconcile/configmap.go
  shardingsphere-operator/pkg/reconcile/deployment.go
  shardingsphere-operator/pkg/reconcile/deployment_proxy.go
  shardingsphere-operator/pkg/reconcile/resource.go
  shardingsphere-operator/pkg/reconcile/service.go
Labels: type: enhancement, feature: operator

#182 refactor(operator): separate ComputeNode and ShardingSphereProxy
  shardingsphere-operator/pkg/controllers/compute_node_controller.go
  shardingsphere-operator/pkg/controllers/proxy_controller.go
  shardingsphere-operator/pkg/controllers/proxyconfig_controller.go
  shardingsphere-operator/pkg/reconcile/computenode/configmap.go
  shardingsphere-operator/pkg/reconcile/computenode/deployment.go
  shardingsphere-operator/pkg/reconcile/computenode/deployment_test.go
  shardingsphere-operator/pkg/reconcile/computenode/service.go
  shardingsphere-operator/pkg/reconcile/proxy/deployment.go
  shardingsphere-operator/pkg/reconcile/proxy/deployment_test.go
  shardingsphere-operator/pkg/reconcile/proxy/hpa.go
  shardingsphere-operator/pkg/reconcile/proxy/reconcile_test.go
  shardingsphere-operator/pkg/reconcile/proxy/resource.go
  shardingsphere-operator/pkg/reconcile/proxy/service.go
  shardingsphere-operator/pkg/reconcile/proxy/status.go
  shardingsphere-operator/pkg/reconcile/proxyconfig/configmap.go
  shardingsphere-operator/pkg/reconcile/proxyconfig/configmap_test.go
Labels: type: refactor, feature: operator

#184 fix: fix service node port error
  shardingsphere-operator/pkg/reconcile/computenode/service.go
  shardingsphere-operator/pkg/reconcile/computenode/service_test.go
Labels: feature: operator, type: fixed

#185 fix: fix extra container port
  shardingsphere-operator/pkg/reconcile/computenode/deployment.go
Labels: feature: operator, type: fixed

#186 refactor: using builder to accomplish Deployment creation and update
  shardingsphere-operator/api/v1alpha1/compute_node_types.go
  shardingsphere-operator/cmd/shardingsphere-operator/main.go
  shardingsphere-operator/cmd/shardingsphere-operator/manager/manager.go
  shardingsphere-operator/pkg/controllers/compute_node_controller.go
  shardingsphere-operator/pkg/controllers/proxy_controller.go
  shardingsphere-operator/pkg/controllers/proxyconfig_controller.go
  shardingsphere-operator/pkg/kubernetes/deployment/deployment.go
  shardingsphere-operator/pkg/reconcile/computenode/deployment.go
  shardingsphere-operator/pkg/reconcile/computenode/deployment_test.go
Labels: type: refactor, feature: operator

#187 feat: add nodeport write back to ComputeNode
  shardingsphere-operator/pkg/controllers/compute_node_controller.go
Labels: type: enhancement, feature: operator

#188 feat: add build tag to expose ports to kubectl command results
  shardingsphere-operator/api/v1alpha1/compute_node_types.go
Labels: type: enhancement, feature: operator

#189 feat: add kubebuild tag for scale subresource
  shardingsphere-operator/api/v1alpha1/compute_node_types.go
  shardingsphere-operator/pkg/controllers/compute_node_controller.go
Labels: type: enhancement, feature: operator

#190 refactor(operator): refactor Service and ConfigMap build
  shardingsphere-operator/cmd/shardingsphere-operator/manager/manager.go
  shardingsphere-operator/pkg/controllers/compute_node_controller.go
  shardingsphere-operator/pkg/kubernetes/configmap/configmap.go
  shardingsphere-operator/pkg/kubernetes/service/service.go
  shardingsphere-operator/pkg/reconcile/computenode/configmap.go
  shardingsphere-operator/pkg/reconcile/computenode/service.go
  shardingsphere-operator/pkg/reconcile/computenode/service_test.go
Labels: type: refactor, feature: operator
