Repository apache/shardingsphere-on-cloud, pull requests merged in 2023-06, with the labels that each got.

#386 fix(storage-node): fix get username and password from dbClass
  shardingsphere-operator/pkg/controllers/storage_ndoe_controller_test.go
  shardingsphere-operator/pkg/controllers/storage_node_controller.go
Labels: type: enhancement, operator, in: storagenode

#387 feat(storage-node): add CRD StorageProvider to replace DatabaseClass
  examples/operator/shardingsphereproxy-storagenode-aws-rds-instance.yaml
  shardingsphere-operator/PROJECT
  shardingsphere-operator/api/v1alpha1/storage_node_types.go
  shardingsphere-operator/api/v1alpha1/storageprovider_types.go
  shardingsphere-operator/api/v1alpha1/zz_generated.deepcopy.go
  shardingsphere-operator/hack/boilerplate.go.txt
  shardingsphere-operator/pkg/controllers/storage_ndoe_controller_test.go
  shardingsphere-operator/pkg/controllers/storage_node_controller.go
  shardingsphere-operator/pkg/reconcile/storagenode/aws/aurora.go
  shardingsphere-operator/pkg/reconcile/storagenode/aws/aws.go
  shardingsphere-operator/pkg/reconcile/storagenode/aws/mocks/aws.go
  shardingsphere-operator/pkg/reconcile/storagenode/aws/rdsinstance.go
  shardingsphere-operator/pkg/reconcile/storagenode/aws/rdsinstance_test.go
  shardingsphere-operator/test/e2e/e2e_suite_test.go
  shardingsphere-operator/test/e2e/storage_node_controller_test.go
Labels: operator, in: storagenode, type: feature

#388 feat: implements read write splitting distSQL parse to AST
  shardingsphere-operator/pkg/distsql/ast/read_write_splitting_ast.go
  shardingsphere-operator/pkg/distsql/visitor/encrypt_rdl.go
  shardingsphere-operator/pkg/distsql/visitor/mask_rdl.go
  shardingsphere-operator/pkg/distsql/visitor/read_write_splitting_rdl.go
  shardingsphere-operator/pkg/distsql/visitor/shadow_rdl.go
Labels: operator, in: distsql

#390 feat(operator): add cloudnative pg controller framework
  shardingsphere-operator/api/v1alpha1/storageprovider_types.go
  shardingsphere-operator/api/v1alpha1/zz_generated.deepcopy.go
  shardingsphere-operator/cmd/shardingsphere-operator/manager/option.go
  shardingsphere-operator/go.mod
  shardingsphere-operator/go.sum
  shardingsphere-operator/pkg/controllers/storage_node_controller.go
  shardingsphere-operator/pkg/distsql/visitor_parser/sharding/rdlstatement_parser.go
  shardingsphere-operator/pkg/kubernetes/cloudnative-pg/builder.go
  shardingsphere-operator/pkg/kubernetes/cloudnative-pg/cloudnative-pg.go
Labels: operator, in: storagenode, type: feature

#391 fix(operator): fix sonar issues
  pitr/agent/internal/pkg/opengauss.go
  pitr/agent/main.go
  pitr/agent/pkg/gsutil/conn.go
  pitr/cli/internal/cmd/backup.go
  pitr/cli/internal/cmd/root.go
  pitr/cli/internal/pkg/agent-server.go
  pitr/cli/internal/pkg/shardingsphere-proxy.go
  pitr/cli/internal/pkg/xerr/err.go
  pitr/cli/pkg/httputils/req.go
  shardingsphere-operator/api/v1alpha1/shardingsphere_chaos_types.go
  shardingsphere-operator/pkg/controllers/compute_node_controller.go
  shardingsphere-operator/pkg/controllers/proxy_controller.go
  shardingsphere-operator/pkg/controllers/proxyconfig_controller.go
  shardingsphere-operator/pkg/reconcile/proxy/deployment.go
Labels: type: refactor, operator, pitr

#393 docs: adjust docs layout
  docs/content/best-practices/_index.cn.md
  docs/content/best-practices/_index.en.md
  docs/content/features/_index.cn.md
  docs/content/features/_index.en.md
  docs/content/quick-start/_index.cn.md
  docs/content/quick-start/_index.en.md
  docs/content/quick-start/kubernetes-quick-deployment/_index.cn.md
  docs/content/quick-start/kubernetes-quick-deployment/_index.en.md
  docs/content/user-manual/_index.cn.md
  docs/content/user-manual/_index.en.md
  docs/content/user-manual/cloudformation-multi-az/_index.cn.md
  docs/content/user-manual/cloudformation-multi-az/_index.en.md
  docs/content/user-manual/helm/_index.cn.md
  docs/content/user-manual/helm/_index.en.md
  docs/content/user-manual/operator/_index.cn.md
  docs/content/user-manual/operator/_index.en.md
  docs/content/user-manual/using-cloudformation-to-start-proxy/_index.cn.md
  docs/content/user-manual/using-cloudformation-to-start-proxy/_index.en.md
  docs/content/user-manual/using-terraform-to-deploy-multi-az-on-aws/_index.cn.md
  docs/content/user-manual/using-terraform-to-deploy-multi-az-on-aws/_index.en.md
  docs/content/user-manual/using-terraform-to-deploy-multi-az-on-huaweicloud/_index.cn.md
  docs/content/user-manual/using-terraform-to-deploy-multi-az-on-huaweicloud/_index.en.md
Labels: type: refactor, docs, type: style

#394 docs: update cn features directory
  docs/content/best-practices/_index.cn.md
  docs/content/best-practices/_index.en.md
  docs/content/features/ShardingSphereChaos/_index.cn.md
  docs/content/overview/_index.cn.md
  docs/content/overview/_index.en.md
  docs/content/quick-start/_index.cn.md
  docs/content/quick-start/_index.en.md
  docs/content/quick-start/aws-quick-deployment/_index.cn.md
  docs/content/quick-start/aws-quick-deployment/_index.en.md
  docs/content/quick-start/kubernetes-quick-deployment/_index.cn.md
  docs/content/quick-start/kubernetes-quick-deployment/_index.en.md
  docs/content/user-manual/cloudformation-multi-az/_index.cn.md
  docs/content/user-manual/cloudformation-multi-az/_index.en.md
  docs/content/user-manual/using-cloudformation-to-start-proxy/_index.cn.md
  docs/content/user-manual/using-cloudformation-to-start-proxy/_index.en.md
  docs/content/user-manual/using-terraform-to-deploy-multi-az-on-aws/_index.cn.md
  docs/content/user-manual/using-terraform-to-deploy-multi-az-on-aws/_index.en.md
Labels: docs

#397 docs: update features
  docs/content/features/DBRE/_index.cn.md
  docs/content/features/EcosystemExtensions/_index.cn.md
Labels: type: enhancement, docs

#398 feat: storage node support register and unregsiter for aws aurora cluster
  shardingsphere-operator/api/v1alpha1/storage_node_types.go
  shardingsphere-operator/go.mod
  shardingsphere-operator/go.sum
  shardingsphere-operator/pkg/controllers/storage_ndoe_controller_test.go
  shardingsphere-operator/pkg/controllers/storage_node_controller.go
  shardingsphere-operator/pkg/reconcile/storagenode/aws/aurora.go
  shardingsphere-operator/pkg/reconcile/storagenode/aws/aurora_test.go
  shardingsphere-operator/pkg/reconcile/storagenode/aws/rdsinstance.go
  shardingsphere-operator/test/e2e/storage_node_controller_test.go
Labels: operator, in: storagenode, type: feature

#399 add cpu,memory,podkill chaos
  shardingsphere-operator/api/v1alpha1/shardingsphere_chaos_types.go
  shardingsphere-operator/go.sum
  shardingsphere-operator/pkg/controllers/shardingsphere_chaos_controller.go
  shardingsphere-operator/pkg/kubernetes/chaosmesh/builder.go
Labels: operator

#401 refactor(operator): refactor Chaos type and PodChaos reconciliation
  shardingsphere-operator/api/v1alpha1/chaos_types.go
  shardingsphere-operator/api/v1alpha1/zz_generated.deepcopy.go
  shardingsphere-operator/cmd/shardingsphere-operator/manager/option.go
  shardingsphere-operator/pkg/controllers/chaos_controller.go
  shardingsphere-operator/pkg/controllers/chaos_controller_test.go
  shardingsphere-operator/pkg/controllers/shardingsphere_chaos_controller.go
  shardingsphere-operator/pkg/controllers/shardingsphere_chaos_controller_test.go
  shardingsphere-operator/pkg/kubernetes/chaosmesh/builder.go
  shardingsphere-operator/pkg/kubernetes/chaosmesh/chaosmesh.go
  shardingsphere-operator/pkg/kubernetes/chaosmesh/mocks/store.go
  shardingsphere-operator/pkg/kubernetes/configmap/builders.go
  shardingsphere-operator/pkg/reconcile/shardingspherechaos/job.go
  shardingsphere-operator/test/e2e/chaos_controller_test.go
  shardingsphere-operator/test/e2e/e2e_suite_test.go
Labels: type: refactor, operator, in: chaos

#404 refactor(operator): refactor network chaos in Chaos reconciliation
  shardingsphere-operator/api/v1alpha1/chaos_types.go
  shardingsphere-operator/pkg/controllers/chaos_controller.go
  shardingsphere-operator/pkg/kubernetes/chaosmesh/builder.go
Labels: type: refactor, operator, in: chaos

#406 feat: add CloudNative PG finalize
  shardingsphere-operator/pkg/controllers/storage_node_controller.go
  shardingsphere-operator/pkg/kubernetes/cloudnative-pg/cloudnative-pg.go
Labels: type: enhancement, operator, in: storagenode

#405 fix(operator): fix cpu stress and memory stress builder
  shardingsphere-operator/api/v1alpha1/chaos_types.go
  shardingsphere-operator/pkg/controllers/chaos_controller.go
  shardingsphere-operator/pkg/kubernetes/chaosmesh/builder.go
  shardingsphere-operator/pkg/kubernetes/chaosmesh/chaosmesh.go
  shardingsphere-operator/pkg/kubernetes/chaosmesh/mocks/store.go
Labels: operator, in: chaos, type: fixed

#409 refactor(operator): adjust code style
  shardingsphere-operator/cmd/shardingsphere-operator/manager/manager.go
  shardingsphere-operator/cmd/shardingsphere-operator/manager/option.go
  shardingsphere-operator/go.sum
  shardingsphere-operator/pkg/controllers/chaos_controller.go
  shardingsphere-operator/pkg/kubernetes/chaosmesh/builder.go
  shardingsphere-operator/pkg/kubernetes/cloudnative-pg/builder.go
  shardingsphere-operator/pkg/kubernetes/service/builder.go
  shardingsphere-operator/pkg/reconcile/chaos/configmap.go
  shardingsphere-operator/pkg/reconcile/chaos/job.go
  shardingsphere-operator/pkg/reconcile/shardingspherechaos/shardingsphere_chaos.go
Labels: operator, type: style

#407 feat(operator): add StorageNode usage of aws rds cluster
  charts/apache-shardingsphere-operator-charts/crds/shardingsphere.apache.org_storagenodes.yaml
  examples/operator/shardingsphereproxy-storagenode-aws-rds-cluster.yaml
  examples/operator/shardingsphereproxy-storageprovider-aws-rds-cluster.yaml
  shardingsphere-operator/api/v1alpha1/storage_node_types.go
Labels: type: enhancement, operator, helm, in: storagenode

#410 refactor(operator): optimize storage node status in CNPG
  shardingsphere-operator/api/v1alpha1/storage_node_types.go
  shardingsphere-operator/cmd/shardingsphere-operator/manager/option.go
  shardingsphere-operator/pkg/controllers/storage_node_controller.go
Labels: operator

#411 refactor(operator): update computenode test to ginkgo
  shardingsphere-operator/api/v1alpha1/compute_node_types.go
  shardingsphere-operator/pkg/reconcile/computenode/compute_node.go
  shardingsphere-operator/pkg/reconcile/computenode/compute_node_suite_test.go
  shardingsphere-operator/pkg/reconcile/computenode/compute_node_test.go
Labels: operator, in: test

#412 docs: update features doc
  docs/content/features/EcosystemExtensions/_index.cn.md
  docs/content/features/ShardingSphereChaos/_index.cn.md
  docs/content/features/_index.en.md
Labels: docs

#414 docs: update docs according to new operator
  docs/content/features/DBRE/_index.cn.md
  docs/content/features/QuickDeployment/_index.cn.md
  docs/content/features/ShardingSphereChaos/_index.cn.md
  docs/content/overview/_index.cn.md
  docs/content/quick-start/aws-quick-deployment/_index.cn.md
  docs/content/quick-start/kubernetes-quick-deployment/_index.cn.md
  docs/content/user-manual/_index.cn.md
  docs/content/user-manual/helm/_index.cn.md
  docs/content/user-manual/operator/_index.cn.md
Labels: docs

#415 docs: fix markdown tables
  docs/content/user-manual/chaos/_index.cn.md
  docs/content/user-manual/chaos/_index.en.md
  docs/content/user-manual/cn-sn-operator/_index.cn.md
  docs/content/user-manual/cn-sn-operator/_index.en.md
  docs/content/user-manual/helm/_index.cn.md
Labels: docs

#416 docs: update docs and images
  docs/content/features/EcosystemExtensions/_index.cn.md
  docs/content/overview/_index.cn.md
  docs/content/quick-start/aws-quick-deployment/_index.cn.md
  docs/content/quick-start/kubernetes-quick-deployment/_index.cn.md
  docs/content/quick-start/kubernetes-quick-deployment/_index.en.md
  docs/content/user-manual/chaos/_index.cn.md
  docs/content/user-manual/cn-sn-operator/_index.cn.md
Labels: docs

#418 docs: fix markdown image and adjust english version
  docs/content/features/DBRE/_index.en.md
  docs/content/features/EcosystemExtensions/_index.cn.md
  docs/content/features/EcosystemExtensions/_index.en.md
  docs/content/features/QuickDeployment/_index.en.md
  docs/content/features/ShardingSphereChaos/_index.en.md
  docs/content/quick-start/_index.en.md
  docs/content/quick-start/aws-quick-deployment/_index.en.md
  docs/content/user-manual/cn-sn-operator/_index.cn.md
  docs/static/img/user-manual/chaos-concepts-1.png
  docs/static/img/user-manual/cn-concepts-1.png
  docs/static/img/user-manual/sn-concepts-1.png
Labels: docs

#419 feat(operator): enhance StorageNode and ComputeNode type and builder
  shardingsphere-operator/api/v1alpha1/compute_node_types.go
  shardingsphere-operator/api/v1alpha1/storage_node_types.go
  shardingsphere-operator/api/v1alpha1/zz_generated.deepcopy.go
  shardingsphere-operator/pkg/kubernetes/deployment/deployment_test.go
  shardingsphere-operator/pkg/reconcile/common/container.go
  shardingsphere-operator/test/e2e/compute_node_controller_test.go
Labels: type: enhancement, operator, in: computenode, in: storagenode

#420 chore: update examples and operator charts
  .github/kubernetes/shardingsphere-computenode-mysql-cluster.yaml
  .github/workflows/operator-integration.yml
  charts/apache-shardingsphere-operator-charts/crds/shardingsphere.apache.org_computenodes.yaml
  charts/apache-shardingsphere-operator-charts/crds/shardingsphere.apache.org_shardingsphereproxies.yaml
  charts/apache-shardingsphere-operator-charts/crds/shardingsphere.apache.org_shardingsphereproxyserverconfigs.yaml
  charts/apache-shardingsphere-operator-charts/crds/shardingsphere.apache.org_storagenodes.yaml
  charts/apache-shardingsphere-operator-charts/templates/shardingsphere_v1alpha1_computenode.yaml
  charts/apache-shardingsphere-operator-charts/templates/shardingsphere_v1alpha1_shardingsphereproxy.yaml
  docs/content/user-manual/cn-sn-operator/_index.cn.md
  examples/operator/chaos-cpu.yaml
  examples/operator/chaos-mem.yaml
  examples/operator/chaos-network.yaml
  examples/operator/chaos-pod.yaml
  examples/operator/shardingsphere-computenode-mysql-cluster-with-agent.yaml
  examples/operator/shardingsphere-computenode-mysql-cluster.yaml
  examples/operator/shardingsphere-computenode-mysql-standalone.yaml
  examples/operator/shardingsphere-storagenode-aws-aurora-cluster.yaml
  examples/operator/shardingsphere-storagenode-aws-rds-cluster.yaml
  examples/operator/shardingsphere-storagenode-aws-rds-instance.yaml
  examples/operator/shardingsphere-storageprovider-aws-aurora-cluster.yaml
  examples/operator/shardingsphere-storageprovider-aws-rds-cluster.yaml
  examples/operator/shardingsphere-storageprovider-aws-rds-instance.yaml
Labels: github-action, helm, docs

#421 fix(operator): add start script substition for special version
  charts/apache-shardingsphere-operator-charts/README.md
  charts/apache-shardingsphere-operator-charts/crds/shardingsphere.apache.org_chaos.yaml
  charts/apache-shardingsphere-operator-charts/values.yaml
  examples/operator/chaos-cpu.yaml
  examples/operator/chaos-mem.yaml
  examples/operator/chaos-network.yaml
  examples/operator/chaos-pod.yaml
  examples/operator/shardingsphere-computenode-mysql-cluster-with-agent.yaml
  examples/operator/shardingsphere-computenode-mysql-cluster.yaml
  examples/operator/shardingsphere-storagenode-aws-aurora-cluster.yaml
  examples/operator/shardingsphere-storagenode-aws-rds-cluster.yaml
  shardingsphere-operator/cmd/shardingsphere-operator/manager/option.go
  shardingsphere-operator/pkg/kubernetes/deployment/builder.go
  shardingsphere-operator/pkg/kubernetes/deployment/deployment_test.go
  shardingsphere-operator/pkg/reconcile/common/container.go
Labels: operator, helm, type: fixed

#422 refactor(operator): add AppendEnv to container builder
  charts/apache-shardingsphere-operator-charts/templates/operator_rbac.yaml
  examples/operator/shardingsphere-storageprovider-aws-rds-instance.yaml
  shardingsphere-operator/pkg/kubernetes/deployment/builder.go
  shardingsphere-operator/pkg/reconcile/common/container.go
Labels: type: refactor, operator, helm

#424 fix: fix storagenode controller may reset params when reconcile aws rds
  charts/apache-shardingsphere-operator-charts/templates/operator_rbac.yaml
  shardingsphere-operator/cmd/shardingsphere-operator/manager/option.go
  shardingsphere-operator/pkg/controllers/storage_ndoe_controller_test.go
  shardingsphere-operator/pkg/controllers/storage_node_controller.go
  shardingsphere-operator/test/e2e/e2e_suite_test.go
  shardingsphere-operator/test/e2e/storage_node_controller_test.go
Labels: operator, helm, type: fixed

#427 docs: update english version docs
  docs/content/features/DBRE/_index.en.md
  docs/content/features/EcosystemExtensions/_index.en.md
  docs/content/features/QuickDeployment/_index.en.md
  docs/content/features/ShardingSphereChaos/_index.en.md
  docs/content/user-manual/cn-sn-operator/_index.cn.md
  docs/content/user-manual/cn-sn-operator/_index.en.md
Labels: type: refactor, docs
