Repository apache/shardingsphere-on-cloud, pull requests merged in 2023-05, with the labels that each got.

#333 fix(operator): fix configmap and job creation error while no shardingspherechaos is found
  shardingsphere-operator/api/v1alpha1/shardingsphere_chaos_types.go
  shardingsphere-operator/pkg/controllers/shardingsphere_chaos_controller.go
  shardingsphere-operator/pkg/reconcile/shardingspherechaos/configmap.go
  shardingsphere-operator/pkg/reconcile/shardingspherechaos/job.go
  shardingsphere-operator/pkg/reconcile/shardingspherechaos/sahrdingsphere_chaos.go
Labels: feature: operator, feature: chaos, type: fixed

#335 refactor(operator): refactor configmap build serverconfig and tests
  shardingsphere-operator/api/v1alpha1/compute_node_types.go
  shardingsphere-operator/pkg/kubernetes/configmap/builder.go
  shardingsphere-operator/pkg/kubernetes/configmap/configmap.go
  shardingsphere-operator/pkg/kubernetes/configmap/configmap_suite_test.go
  shardingsphere-operator/pkg/kubernetes/configmap/configmap_test.go
  shardingsphere-operator/pkg/kubernetes/deployment/builder.go
Labels: type: refactor, feature: operator

#336 refactor(operator): refactor factory for configmap
  shardingsphere-operator/cmd/shardingsphere-operator/manager/option.go
  shardingsphere-operator/pkg/controllers/shardingsphere_chaos_controller.go
  shardingsphere-operator/pkg/kubernetes/configmap/builder.go
  shardingsphere-operator/pkg/kubernetes/configmap/builders.go
  shardingsphere-operator/pkg/kubernetes/configmap/configmap.go
  shardingsphere-operator/pkg/kubernetes/configmap/configmap_test.go
  shardingsphere-operator/pkg/kubernetes/configmap/factory.go
  shardingsphere-operator/pkg/reconcile/common/configmap.go
  shardingsphere-operator/pkg/reconcile/shardingspherechaos/configmap.go
  shardingsphere-operator/pkg/reconcile/shardingspherechaos/shardingsphere_chaos.go
Labels: type: refactor, feature: operator

#337 refactor(operator): change chaos deletion to finalizer rather than ownreference
  shardingsphere-operator/pkg/controllers/shardingsphere_chaos_controller.go
  shardingsphere-operator/pkg/kubernetes/chaosmesh/builder.go
  shardingsphere-operator/pkg/kubernetes/chaosmesh/chaosmesh.go
Labels: type: refactor, feature: operator, feature: chaos

#338 chore: remove comments and update ci
  .github/workflows/commit-msg.yml
  shardingsphere-operator/pkg/controllers/shardingsphere_chaos_controller.go
  shardingsphere-operator/pkg/kubernetes/chaosmesh/chaosmesh.go
  shardingsphere-operator/pkg/kubernetes/configmap/factory.go
  shardingsphere-operator/pkg/reconcile/common/configmap.go
  shardingsphere-operator/pkg/reconcile/shardingspherechaos/configmap.go
  shardingsphere-operator/pkg/reconcile/shardingspherechaos/shardingsphere_chaos_suite_test.go
Labels: in: ci, type: fixed

#339 chore: aggregate codecov reports
  .github/workflows/pitr-unit-test.yml
  .github/workflows/unit-test.yml
Labels: in: ci

#342 feat(storage-node): support aws rds instance
  shardingsphere-operator/Makefile
  shardingsphere-operator/api/v1alpha1/compute_node_types.go
  shardingsphere-operator/api/v1alpha1/storage_node_types.go
  shardingsphere-operator/api/v1alpha1/zz_generated.deepcopy.go
  shardingsphere-operator/cmd/shardingsphere-operator/manager/option.go
  shardingsphere-operator/go.mod
  shardingsphere-operator/go.sum
  shardingsphere-operator/pkg/controllers/compute_node_controller.go
  shardingsphere-operator/pkg/controllers/controllers_suite_test.go
  shardingsphere-operator/pkg/controllers/storage_node_controller.go
  shardingsphere-operator/pkg/controllers/storage_node_controller_test.go
  shardingsphere-operator/pkg/reconcile/storagenode/aws/aurora.go
  shardingsphere-operator/pkg/reconcile/storagenode/aws/aws.go
  shardingsphere-operator/pkg/reconcile/storagenode/aws/aws_suite_test.go
  shardingsphere-operator/pkg/reconcile/storagenode/aws/mocks/aws.go
  shardingsphere-operator/pkg/reconcile/storagenode/aws/rdsinstance.go
  shardingsphere-operator/pkg/reconcile/storagenode/aws/rdsinstance_test.go
Labels: feature: operator

#344 test(operator): add test for proxyconfig and common container
  shardingsphere-operator/pkg/reconcile/common/container_test.go
  shardingsphere-operator/pkg/reconcile/proxyconfig/configmap_test.go
Labels: feature: operator, in:test

#343 test(operator): add chaos mock and test case for ssChaos
  shardingsphere-operator/go.mod
  shardingsphere-operator/go.sum
  shardingsphere-operator/pkg/controllers/shardingsphere_chaos_controller.go
  shardingsphere-operator/pkg/kubernetes/chaosmesh/mocks/store.go
  shardingsphere-operator/pkg/reconcile/shardingspherechaos/shardingsphere_chaos_suite_test.go
  shardingsphere-operator/pkg/reconcile/shardingspherechaos/shardingsphere_chaos_test.go
Labels: feature: operator, feature: chaos, in:test

#346 test(operator): update tests for controllers and kubernetes
  shardingsphere-operator/cmd/shardingsphere-operator/manager/option.go
  shardingsphere-operator/cmd/shardingsphere-operator/manager/option_test.go
  shardingsphere-operator/pkg/controllers/compute_node_controller_test.go
  shardingsphere-operator/pkg/controllers/controllers_suite_test.go
  shardingsphere-operator/pkg/kubernetes/configmap/configmap.go
  shardingsphere-operator/pkg/kubernetes/configmap/configmap_suite_test.go
  shardingsphere-operator/pkg/kubernetes/configmap/configmap_test.go
Labels: feature: operator, in:test

#348 chore(ss-chaos): update test suite env params to pass test case
  shardingsphere-operator/go.sum
  shardingsphere-operator/pkg/reconcile/shardingspherechaos/shardingsphere_chaos_suite_test.go
Labels: feature: operator, in:test

#347 refactor(operator): update ssChaos.Status and reconcile logic
  shardingsphere-operator/api/v1alpha1/shardingsphere_chaos_types.go
  shardingsphere-operator/api/v1alpha1/zz_generated.deepcopy.go
  shardingsphere-operator/pkg/controllers/shardingsphere_chaos_controller.go
  shardingsphere-operator/pkg/reconcile/shardingspherechaos/job.go
  shardingsphere-operator/pkg/reconcile/shardingspherechaos/shardingsphere_chaos_suite_test.go
  shardingsphere-operator/pkg/reconcile/shardingspherechaos/shardingsphere_chaos_test.go
Labels: type: enhancement, feature: operator, feature: chaos

#350 test(operator): fix conflicted tests of storagenode and chaos
  shardingsphere-operator/pkg/controllers/compute_node_controller_test.go
  shardingsphere-operator/pkg/controllers/controllers_suite_test.go
  shardingsphere-operator/pkg/controllers/shardingsphere_chaos_controller.go
  shardingsphere-operator/pkg/controllers/shardingsphere_chaos_controller_test.go
  shardingsphere-operator/pkg/controllers/storage_node_controller_test.go
  shardingsphere-operator/pkg/kubernetes/configmap/configmap_suite_test.go
  shardingsphere-operator/pkg/kubernetes/configmap/configmap_test.go
  shardingsphere-operator/pkg/reconcile/shardingspherechaos/shardingsphere_chaos_suite_test.go
Labels: feature: operator, in:test

#351 test(operator): split test to test and e2e
  .github/workflows/e2e-test.yml
  .gitignore
  shardingsphere-operator/Makefile
  shardingsphere-operator/test/e2e/compute_node_controller_test.go
  shardingsphere-operator/test/e2e/e2e_suite_test.go
  shardingsphere-operator/test/e2e/shardingsphere_chaos_controller_test.go
  shardingsphere-operator/test/e2e/storage_node_controller_test.go
Labels: type: enhancement, in:test

#352 feat(storage-node): add finalize logic
  shardingsphere-operator/api/v1alpha1/storage_node_types.go
  shardingsphere-operator/pkg/controllers/storage_node_controller.go
  shardingsphere-operator/pkg/reconcile/storagenode/aws/aurora.go
  shardingsphere-operator/pkg/reconcile/storagenode/aws/aws.go
  shardingsphere-operator/pkg/reconcile/storagenode/aws/mocks/aws.go
  shardingsphere-operator/pkg/reconcile/storagenode/aws/rdsinstance.go
  shardingsphere-operator/pkg/reconcile/storagenode/aws/rdsinstance_test.go
Labels: operator, in: storagenode, type: feature

#353 chore(storage node): move fakeclient test of storage node to controllers package
  shardingsphere-operator/Makefile
  shardingsphere-operator/go.mod
  shardingsphere-operator/pkg/controllers/controllers_suite_test.go
  shardingsphere-operator/pkg/controllers/storage_ndoe_controller_test.go
  shardingsphere-operator/test/e2e/e2e_suite_test.go
  shardingsphere-operator/test/e2e/storage_node_controller_test.go
Labels: type: refactor, operator, in: test, in: e2e

#356 chore(storage-node): add example of storage node
  examples/operator/shardingsphereproxy-storagenode-aws-rds-instance.yaml
Labels: operator, type: example

#358 feat(operator): add-pressure-exec replace job(get pod log)
  shardingsphere-operator/api/v1alpha1/shardingsphere_chaos_types.go
  shardingsphere-operator/api/v1alpha1/zz_generated.deepcopy.go
  shardingsphere-operator/cmd/shardingsphere-operator/manager/option.go
  shardingsphere-operator/go.mod
  shardingsphere-operator/go.sum
  shardingsphere-operator/pkg/controllers/shardingsphere_chaos_controller.go
  shardingsphere-operator/pkg/pressure/pressure.go
  shardingsphere-operator/pkg/pressure/pressure_test.go
Labels: operator, in: chaos, type: feature

#359 refactor(storage-node): refactor delete storage node logic
  shardingsphere-operator/api/v1alpha1/storage_node_types.go
  shardingsphere-operator/cmd/shardingsphere-operator/manager/option.go
  shardingsphere-operator/pkg/controllers/storage_ndoe_controller_test.go
  shardingsphere-operator/pkg/controllers/storage_node_controller.go
  shardingsphere-operator/pkg/reconcile/storagenode/aws/rdsinstance.go
  shardingsphere-operator/test/e2e/storage_node_controller_test.go
Labels: operator, in: storagenode, type: feature

#357 feat(storage-node): support register storage node to shardingsphere
  shardingsphere-operator/cmd/shardingsphere-operator/manager/option.go
  shardingsphere-operator/go.mod
  shardingsphere-operator/go.sum
  shardingsphere-operator/pkg/controllers/storage_ndoe_controller_test.go
  shardingsphere-operator/pkg/controllers/storage_node_controller.go
  shardingsphere-operator/pkg/shardingsphere/mocks/shardingsphere.go
  shardingsphere-operator/pkg/shardingsphere/shardingsphere.go
  shardingsphere-operator/pkg/shardingsphere/shardingsphere_suite_test.go
  shardingsphere-operator/pkg/shardingsphere/shardingsphere_test.go
  shardingsphere-operator/test/e2e/storage_node_controller_test.go
Labels: operator, in: storagenode, type: feature

#365 fix(pitr): fix pitr restore metadata failed
  .gitignore
  pitr/cli/go.mod
  pitr/cli/go.sum
  pitr/cli/internal/pkg/shardingsphere-proxy.go
  pitr/cli/internal/pkg/shardingsphere-proxy_test.go
Labels: type: fixed, pitr

#368 test(storage-node): add e2e test
  shardingsphere-operator/api/v1alpha1/storage_node_types.go
  shardingsphere-operator/go.mod
  shardingsphere-operator/go.sum
  shardingsphere-operator/pkg/controllers/storage_ndoe_controller_test.go
  shardingsphere-operator/pkg/controllers/storage_node_controller.go
  shardingsphere-operator/pkg/reconcile/storagenode/aws/rdsinstance.go
  shardingsphere-operator/test/e2e/e2e_suite_test.go
  shardingsphere-operator/test/e2e/storage_node_controller_test.go
Labels: type: enhancement, operator, in: test

#370 refactor(storage-node): refatcor finalize logic
  examples/operator/shardingsphereproxy-storagenode-aws-rds-instance.yaml
  shardingsphere-operator/pkg/controllers/storage_ndoe_controller_test.go
  shardingsphere-operator/pkg/controllers/storage_node_controller.go
Labels: type: refactor, operator, in: storagenode

#371 fix(helm): fix user value
  charts/apache-shardingsphere-operator-charts/values.yaml
  examples/operator/shardingsphereproxy-mysql-cluster.yaml
Labels: helm, type: fixed

#364 test(operator): add IT mock test for ssChaos
  shardingsphere-operator/api/v1alpha1/shardingsphere_chaos_types.go
  shardingsphere-operator/api/v1alpha1/zz_generated.deepcopy.go
  shardingsphere-operator/cmd/shardingsphere-operator/manager/option.go
  shardingsphere-operator/pkg/controllers/shardingsphere_chaos_controller.go
  shardingsphere-operator/pkg/controllers/shardingsphere_chaos_controller_test.go
  shardingsphere-operator/pkg/kubernetes/chaosmesh/builder.go
  shardingsphere-operator/pkg/kubernetes/chaosmesh/chaosmesh.go
  shardingsphere-operator/pkg/kubernetes/chaosmesh/mocks/store.go
  shardingsphere-operator/pkg/kubernetes/configmap/builders.go
  shardingsphere-operator/pkg/pressure/pressure.go
  shardingsphere-operator/pkg/reconcile/shardingspherechaos/job.go
  shardingsphere-operator/test/e2e/e2e_suite_test.go
  shardingsphere-operator/test/e2e/shardingsphere_chaos_controller_test.go
Labels: type: enhancement, operator, in: chaos, in: test

#372 fix(operator): fix agent metrics annotations and port sync
  shardingsphere-operator/api/v1alpha1/compute_node_types.go
  shardingsphere-operator/pkg/kubernetes/deployment/builder.go
  shardingsphere-operator/pkg/kubernetes/deployment/deployment_test.go
  shardingsphere-operator/pkg/kubernetes/service/buidler.go
Labels: operator, type: fixed, in: computenode

#373 feat(storage-node): unregister storage unit when storage node be deleted
  shardingsphere-operator/pkg/controllers/storage_ndoe_controller_test.go
  shardingsphere-operator/pkg/controllers/storage_node_controller.go
  shardingsphere-operator/pkg/shardingsphere/shardingsphere.go
  shardingsphere-operator/test/e2e/storage_node_controller_test.go
Labels: operator

#374 fix(grafana): fix legends name
  grafana/ShardingSphere-Proxy-Dashboard.json
Labels: type: fixed, grafana

#375 fix(helm): fix proxy charts agent configmap name template
  charts/apache-shardingsphere-proxy-charts/templates/configmap.yaml
  charts/apache-shardingsphere-proxy-charts/templates/deployment.yaml
Labels: helm, type: fixed

#376 fix(storage-node): fix register storage unit bug
  shardingsphere-operator/pkg/controllers/storage_ndoe_controller_test.go
  shardingsphere-operator/pkg/controllers/storage_node_controller.go
  shardingsphere-operator/pkg/reconcile/storagenode/aws/rdsinstance.go
  shardingsphere-operator/pkg/shardingsphere/mocks/shardingsphere.go
  shardingsphere-operator/pkg/shardingsphere/shardingsphere.go
  shardingsphere-operator/pkg/shardingsphere/shardingsphere_test.go
  shardingsphere-operator/test/e2e/storage_node_controller_test.go
Labels: operator, type: fixed, in: storagenode

#377 fix(build): fix arm related docker build and github action
  .github/workflows/buildx.yml
  charts/apache-shardingsphere-operator-charts/templates/operator_deployment.yaml
  shardingsphere-operator/Makefile
  shardingsphere-operator/build/Dockerfile
  shardingsphere-operator/start.sh
Labels: github-action, operator, helm, type: fixed, in: build

#379 feat(operator): Update ComputeNode conditions
  shardingsphere-operator/api/v1alpha1/compute_node_types.go
  shardingsphere-operator/api/v1alpha1/zz_generated.deepcopy.go
  shardingsphere-operator/pkg/controllers/compute_node_controller.go
  shardingsphere-operator/pkg/controllers/proxy_controller.go
  shardingsphere-operator/pkg/reconcile/computenode/compute_node.go
  shardingsphere-operator/pkg/reconcile/computenode/compute_node_test.go
  shardingsphere-operator/pkg/reconcile/computenode/computer_node.go
Labels: type: enhancement, operator, in: computenode

#380 refactor(operator): update compute node definition
  shardingsphere-operator/api/v1alpha1/compute_node_types.go
  shardingsphere-operator/pkg/controllers/compute_node_controller.go
  shardingsphere-operator/pkg/reconcile/computenode/compute_node_test.go
Labels: type: refactor, operator, in: computenode

#378 update operator charts support StorageNode
  charts/apache-shardingsphere-operator-charts/crds/shardingsphere.apache.org_storagenodes.yaml
  charts/apache-shardingsphere-operator-charts/templates/operator_deployment.yaml
  charts/apache-shardingsphere-operator-charts/templates/operator_rbac.yaml
  charts/apache-shardingsphere-operator-charts/values.yaml
  docs/shardingsphere-operator.md
  examples/operator/shardingsphereproxy-storagenode-aws-rds-instance.yaml
  shardingsphere-operator/build/Dockerfile
  shardingsphere-operator/cmd/shardingsphere-operator/manager/manager.go
  shardingsphere-operator/cmd/shardingsphere-operator/manager/option.go
  shardingsphere-operator/go.mod
  shardingsphere-operator/go.sum
  shardingsphere-operator/pkg/controllers/compute_node_controller.go
  shardingsphere-operator/pkg/controllers/proxy_controller.go
  shardingsphere-operator/pkg/controllers/proxyconfig_controller.go
  shardingsphere-operator/pkg/controllers/shardingsphere_chaos_controller.go
  shardingsphere-operator/pkg/controllers/storage_node_controller.go
  shardingsphere-operator/pkg/metrics/metrics.go
Labels: type: enhancement, operator, helm, docs

#381 fix(pitr): fix lsbackup nil error
  pitr/cli/internal/cmd/backup.go
Labels: pitr

#383 feat(operator): add conditions in pending phase
  shardingsphere-operator/pkg/controllers/compute_node_controller.go
  shardingsphere-operator/pkg/reconcile/computenode/compute_node.go
Labels: type: enhancement, operator, in: computenode

#384 feat: support mask distSQL parse to AST
  shardingsphere-operator/pkg/distsql/antlr4/mask/Alphabet.g4
  shardingsphere-operator/pkg/distsql/antlr4/mask/BaseRule.g4
  shardingsphere-operator/pkg/distsql/antlr4/mask/Keyword.g4
  shardingsphere-operator/pkg/distsql/antlr4/mask/Literals.g4
  shardingsphere-operator/pkg/distsql/antlr4/mask/RDLStatement.g4
  shardingsphere-operator/pkg/distsql/antlr4/mask/RQLStatement.g4
  shardingsphere-operator/pkg/distsql/antlr4/mask/Symbol.g4
  shardingsphere-operator/pkg/distsql/antlr4/read_write_splitting/Alphabet.g4
  shardingsphere-operator/pkg/distsql/antlr4/read_write_splitting/BaseRule.g4
  shardingsphere-operator/pkg/distsql/antlr4/read_write_splitting/Keyword.g4
  shardingsphere-operator/pkg/distsql/antlr4/read_write_splitting/Literals.g4
  shardingsphere-operator/pkg/distsql/antlr4/read_write_splitting/RALStatement.g4
  shardingsphere-operator/pkg/distsql/antlr4/read_write_splitting/RDLStatement.g4
  shardingsphere-operator/pkg/distsql/antlr4/read_write_splitting/RQLStatement.g4
  shardingsphere-operator/pkg/distsql/antlr4/read_write_splitting/Symbol.g4
  shardingsphere-operator/pkg/distsql/antlr4/shadow/Alphabet.g4
  shardingsphere-operator/pkg/distsql/antlr4/shadow/BaseRule.g4
  shardingsphere-operator/pkg/distsql/antlr4/shadow/Keyword.g4
  shardingsphere-operator/pkg/distsql/antlr4/shadow/Literals.g4
  shardingsphere-operator/pkg/distsql/antlr4/shadow/RDLStatement.g4
  shardingsphere-operator/pkg/distsql/antlr4/shadow/RQLStatement.g4
  shardingsphere-operator/pkg/distsql/antlr4/shadow/Symbol.g4
  shardingsphere-operator/pkg/distsql/antlr4/sharding/Alphabet.g4
  shardingsphere-operator/pkg/distsql/antlr4/sharding/BaseRule.g4
  shardingsphere-operator/pkg/distsql/antlr4/sharding/Keyword.g4
  shardingsphere-operator/pkg/distsql/antlr4/sharding/Literals.g4
  shardingsphere-operator/pkg/distsql/antlr4/sharding/RDLStatement.g4
  shardingsphere-operator/pkg/distsql/antlr4/sharding/RQLStatement.g4
  shardingsphere-operator/pkg/distsql/antlr4/sharding/Symbol.g4
  shardingsphere-operator/pkg/distsql/ast/encrypt_rdl_ast.go
  shardingsphere-operator/pkg/distsql/ast/mask_rdl_ast.go
  shardingsphere-operator/pkg/distsql/visitor/distsql_test.go
  shardingsphere-operator/pkg/distsql/visitor/encrypt_rdl_visitor.go
  shardingsphere-operator/pkg/distsql/visitor/mask_rdl_visitor.go
  shardingsphere-operator/pkg/distsql/visitor_parser/mask/rdlstatement_base_visitor.go
  shardingsphere-operator/pkg/distsql/visitor_parser/mask/rdlstatement_lexer.go
  shardingsphere-operator/pkg/distsql/visitor_parser/mask/rdlstatement_parser.go
  shardingsphere-operator/pkg/distsql/visitor_parser/mask/rdlstatement_visitor.go
  shardingsphere-operator/pkg/distsql/visitor_parser/read_write_splitting/rdlstatement_base_visitor.go
  shardingsphere-operator/pkg/distsql/visitor_parser/read_write_splitting/rdlstatement_lexer.go
  shardingsphere-operator/pkg/distsql/visitor_parser/read_write_splitting/rdlstatement_parser.go
  shardingsphere-operator/pkg/distsql/visitor_parser/read_write_splitting/rdlstatement_visitor.go
  shardingsphere-operator/pkg/distsql/visitor_parser/shadow/rdlstatement_base_visitor.go
  shardingsphere-operator/pkg/distsql/visitor_parser/shadow/rdlstatement_lexer.go
  shardingsphere-operator/pkg/distsql/visitor_parser/shadow/rdlstatement_parser.go
  shardingsphere-operator/pkg/distsql/visitor_parser/shadow/rdlstatement_visitor.go
  shardingsphere-operator/pkg/distsql/visitor_parser/sharding/rdlstatement_base_visitor.go
  shardingsphere-operator/pkg/distsql/visitor_parser/sharding/rdlstatement_lexer.go
  shardingsphere-operator/pkg/distsql/visitor_parser/sharding/rdlstatement_parser.go
  shardingsphere-operator/pkg/distsql/visitor_parser/sharding/rdlstatement_visitor.go
Labels: type: enhancement, operator, in: distsql

#385 feat: support shadow distSQL parse to AST
  shardingsphere-operator/pkg/distsql/ast/shadow_rdl_ast.go
  shardingsphere-operator/pkg/distsql/visitor/shadow_rdl_visitor.go
Labels: type: enhancement, operator, in: distsql
